@use "./mixins/disable-mob-hover" as *;
@use "./mixins/breakpoint" as *;
.button {
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--light-grey);
  text-transform: uppercase;
  outline: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.3s;
  &--blue {
    background-color: #0043ce;
    border: 1px solid #0043ce;
    @include hover {
      &:hover {
        background-color: #0554f8;
      }
    }
  }
  &--medium {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.06em;
    padding: 1.4375rem;
    border-radius: 10px;
    @include tablet {
      padding: 0.6875rem 1.5rem;
      font-size: 13px;
    }
  }
  &--big {
    padding: 1.5rem;
    font-size: 1.125rem;
    line-height: 133%;
    border-radius: 1rem;
    @include tablet {
      padding: 1.25rem;
      font-size: 13px;
      letter-spacing: 0.06em;
    }
  }
  &--lit {
    padding: 0.6875rem 1.5rem;
    font-size: 16px;
    line-height: 150%;
    border-radius: 0.75rem;
  }
  &--rounded {
    border: 1px solid #0554f8;
    background: rgba(5, 84, 248, 0.1);
    @include hover {
      &:hover {
        background-color: transparent;
        background: #0554f8;
      }
    }
  }
}
