@use "./mixins/breakpoint" as *;
.air-datepicker {
  background: #25272d;

  color: #c4c8cf;
  border-radius: 8px;
  border: 0;
  font-family: var(--font5);

  @include for-desktop {
    width: 445px;
    padding-bottom: 44px;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
  }
}
.air-datepicker-nav {
  @include for-desktop {
    padding: 20px 16px 0;
  }
}

.air-datepicker-body--day-names {
  @include for-desktop {
    margin: 15px 0 0;
  }
}
.air-datepicker--content {
  @include for-desktop {
    padding: 4px 30px;
  }
}
.air-datepicker-body--cells.-days-,
.air-datepicker-body--cells.-months-,
.air-datepicker-body--cells.-years- {
  @include for-desktop {
    grid-auto-rows: 64px;
  }
}
.air-datepicker-body--day-name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 13px;
  line-height: 123%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #c4c8cf;

  @include for-desktop {
    width: 55px;
    height: 56px;
  }
}
.air-datepicker-nav {
  border: 0;
}
.air-datepicker-cell.-focus-,
.air-datepicker-nav--title:hover,
.air-datepicker-nav--action:hover {
  background: #282d37;
}
.air-datepicker-cell.-selected-,
.air-datepicker-cell.-selected-.-current- {
  background: #282d37;
}
.air-datepicker-body--cells.-months-,
.air-datepicker-body--cells.-years- {
  .air-datepicker-cell {
    width: 100%;
  }
}
.air-datepicker-cell.-current- {
  color: inherit;
}
.air-datepicker-nav--title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 13px;
  line-height: 123%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #c4c8cf;
}
.air-datepicker-cell {
  @include for-desktop {
    height: 64px;
    width: 55px;
  }
}

.air-datepicker-cell.-selected-,
.air-datepicker-cell.-selected-.-current-,
.air-datepicker-cell.-selected-.-focus- {
  background-color: #0043ce;
}
