@use "./mixins/breakpoint" as *;
.contacts {
  padding: 200px 0;
  background: #101114;
  .ymaps3x0--controls {
    @include mobile {
      height: inherit !important ;
      justify-content: flex-start !important;
      left: 0 !important;
      right: inherit !important;
      height: inherit !important;
    }
  }
  @include big-desktop {
    padding: 100px 0;
  }
  @include tablet {
    padding: 32px 0 40x;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 42px 100px;
    @include big-desktop {
      gap: 24px;
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px 48px;
    }
    @include mobile {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }
  &__section-head {
    margin-bottom: 24px;
  }
  &__tabs {
    justify-content: center;
    border-radius: 16px;
    background: #25272d;
    padding: 6px;
    width: max-content;
    margin: 0 auto 80px;
    gap: 6px;
    @include mobile {
      width: 100%;
      margin: 0 auto 32px;
    }
  }
  &-tabs__nav-item {
    @include mobile {
      width: 100%;
    }
  }
  &__tab-btn {
    border-radius: 12px;
    padding: 16px 20px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 13px;
    line-height: 123%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s;
    &:focus,
    &.tabs__nav-btn--active {
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
      background: #101114;
    }
    @include mobile {
      display: block;
      width: 100%;
    }
  }
  &__wrap {
    position: relative;
  }
  &__left {
    @include big-desktop {
      display: none;
    }
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 26px 32px 32px 32px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100%;
    width: 528px;
    background: rgba(28, 30, 34, 0.9);
    z-index: 500;
  }
  &__map {
    height: 818px;
    width: 100%;
    @include tablet {
      height: 530px;
    }

    .ymaps3x0--controls_right {
      right: 4px;
    }
    .ymaps3x0--control-button {
      border: 0;
      outline: 0;
      border-radius: 10px;
      padding: 16px;
      width: 56px !important;
      height: 56px !important;
      background: #0043ce !important;

      cursor: pointer;
      @include mobile {
        height: 48px !important;
        width: 48px !important;
        padding: 12px !important;
      }
      .ymaps3x0--zoom-control__in {
        background: url(../img/plus.svg) !important;
      }
      .ymaps3x0--zoom-control__out {
        background: url(../img/minus.svg) !important;
      }
    }
    .ymaps3x0--control-button + .ymaps3x0--control-button {
      margin-top: 1rem;
    }
    .ymaps3x0--control__background {
      box-shadow: none !important;
      background-color: transparent !important;
    }
  }
  &__title {
    margin-bottom: 24px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: #c7cccc;
  }
  &__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
  }
}
.contacts-item {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  cursor: pointer;
  & + & {
    margin-top: 40px;
  }
  &--is-current {
    .contacts-item__content {
      background: #3970f6;
      border-color: #3970f6;

      .contacts-item__option {
        color: #adc4fc;
        svg {
          fill: #0043ce;
        }
      }
    }
  }
  img {
    flex-shrink: 0;
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #30343b;
    width: 100%;
    box-sizing: border-box;
    min-height: 144px;
    transition: 0.3s;
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 5px;
    flex-shrink: 0;
  }
  &__sticker {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 9px;
    line-height: 119%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #30343b;
    border-radius: 3px;
    padding: 2px 8px;
    width: max-content;

    &--new {
      background: #7cbe7f;
    }
    &--soon {
      background: #da1e28;
      color: var(--white);
    }
  }
  &__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: #c7cccc;
  }
  &__options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 77px;
  }
  &__option {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 121%;
    color: #535965;
    & + & {
      margin-top: 19px;
    }
    svg {
      height: 24px;
      width: 24px;
      fill: #5b89f8;
    }
  }
  &__info {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    @include mobile {
      gap: 2px;
    }
  }
  &__type {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 11px;
    line-height: 97%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #101114;
    background: #535965;
    border-radius: 3px;
    padding: 2px 4px;
    width: max-content;
    &--park {
      background: #535965;
    }
  }
  &__rating {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--white);
    @include mobile {
      gap: 2px;
      font-size: 12px;
    }
    svg {
      height: 20px;
      width: 20px;
      fill: var(--white);
      @include mobile {
        height: 16px;
        width: 16px;
      }
    }
  }
  &__button {
    @include mobile {
      font-size: 11px;
      width: calc(100% - 30px);
    }
  }
}
.marker-class {
  width: 40px;
  height: 45px;
  cursor: pointer;
  circle {
    transition: 0.3s;
  }
  &:hover {
    circle {
      fill: #3970f6 !important  ;
    }
  }
}
.map-popup {
  display: none;
  position: fixed;
  z-index: 9999;
  // background: rgba(30, 32, 35, 0.97);
  // border-radius: 16px;
  // box-shadow: 0 6px 32px rgba(0, 0, 0, 0.45);
  // padding: 32px 32px 24px 32px;
  // color: #fff;
  // min-width: 340px;
  // max-width: 440px;
  pointer-events: all;
  transition: opacity 0.18s;
}

.popup-card {
  position: relative;
  background: rgba(28, 30, 34, 0.9);
  padding: 16px;
  width: 416px;
  border-radius: 6px;
  @include mobile {
    width: 272px;
    padding-right: 40px;
  }
  &__close {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
    &-icon {
      height: 100%;
      width: 100%;
      fill: #9e9e9e;
    }
  }
  &__sticker {
    width: max-content;
    margin-bottom: 4px;
    border-radius: 3px;
    padding: 2px 8px;
    width: max-content;
    background: #44a248;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 123%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #101114;
  }
  &__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: #ececee;
    @include mobile {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__content {
    margin: 16px 0;
  }
  &__option {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 121%;
    color: #8f96a3;
    text-wrap: balance;
    @include mobile {
      font-size: 14px;
    }
    & + & {
      margin-top: 16px;
    }
    &--adress {
      align-items: flex-start;
    }
    svg {
      height: 24px;
      width: 24px;
      fill: #5b89f8;
      flex-shrink: 0;
      @include mobile {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.contacts-grid-item {
  position: relative;
  border-radius: 6px;
  padding: 40px 16px 16px 32px;
  background: rgba(28, 30, 34, 0.9);
  box-sizing: border-box;
  &__sticker {
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 3px;
    padding: 2px 8px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 123%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #101114;
    &--new {
      background: #44a248;
    }
    &--soon {
      background: #da1e28;
      color: #fff;
    }
  }
  &__title {
    margin-bottom: 1rem;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: #ececee;
    @include mobile {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__options {
    margin: 16px 0;
    min-height: 177px;
  }
  &__option {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 121%;
    color: #8f96a3;
    & + & {
      margin-top: 12px;
    }
    svg {
      height: 24px;
      width: 24px;
    }
    &:not(.contacts-grid-item__option--parking) svg {
      fill: #5b89f8;
    }
    &.contacts-grid-item__option--parking svg {
      stroke: #5b89f8;
      fill: none;
    }
  }
  &__schedule {
    padding: 16px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    min-height: 210px;
    box-sizing: border-box;
  }
  &__schedule-title {
    margin-bottom: 1rem;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: #5e6573;
  }
  &__schedule-item {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 121%;
    text-transform: uppercase;
    color: #c4c8cf;
    span {
      text-transform: uppercase;
      min-width: 64px;
      margin-right: 16px;
    }
    & + & {
      margin-top: 4px;
    }
  }
  &__footer {
    display: flex;
    align-items: flex-start;
    margin-top: 16px;
    justify-content: space-between;
    gap: 24px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__button {
    width: 100%;
  }
  &__type {
    border-radius: 3px;
    padding: 2px 4px;
    width: 37px;
    height: 16px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 11px;
    line-height: 97%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #101114;
    background: #535965;
  }
  &__rating {
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    gap: 8px;
    color: #ececee;
    svg {
      height: 24px;
      width: 24px;
      flex-shrink: 0;
      fill: #ececee;
    }
  }
}
