@use "./mixins/breakpoint" as *;
@use "./mixins/disable-mob-hover" as *;
.features {
  padding: 6.5rem 0;

  counter-reset: features;
  @include tablet {
    padding: 3rem 0;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    @include big-desktop {
      grid-template-columns: 1fr;
    }
    @include tablet {
      gap: 24px;
    }
  }
}
.features-item {
  position: relative;
  overflow: hidden;
  padding: 28px 28px 24px 28px;
  min-height: 480px;
  box-sizing: border-box;
  background: #1c1e22;
  border-radius: 16px;
  transition: 0.3s;
  @include hover {
    &:hover {
      background-color: #25272d;
    }
  }
  @include tablet {
    padding: 1rem;
    min-height: 212px;
    border-radius: 8px;
  }
  &__content {
    position: relative;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

    max-width: 352px;
    box-sizing: border-box;
    @include tablet {
      max-width: 236px;
    }
  }
  &__title {
    max-width: 352px;
    margin-bottom: 24px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #fff;
    @include tablet {
      margin-bottom: 10px;
      max-width: 140px;
      font-size: 20px;
      line-height: 111%;
    }
    &:before {
      content: "0" counter(features);
      counter-increment: features;
      display: block;
      margin-bottom: 16px;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 13px;
      line-height: 123%;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #5e6573;
      @include tablet {
        margin-bottom: 6px;
        font-size: 14px;
      }
    }
  }
  &__desc {
    margin-bottom: 24px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: rgba(#c4c8cf, 0.8);
    text-wrap: balance;
    @include tablet {
      max-width: 200px;
      font-size: 14px;
      br {
        display: none;
      }
    }
  }
  &__picture {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    img {
      height: auto;
      width: auto;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    margin-top: auto;
    gap: 8px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: #0554f8;
    @include tablet {
      font-size: 14px;
      line-height: 1;
    }
  }
}
