@use "./mixins/breakpoint" as *;
@use "./mixins/disable-mob-hover" as *;
.input {
  position: relative;
  .spm-wrapper {
    width: 100%;
  }
  &__label {
    display: block;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: #535965;
    transition: 0.3s;
    margin-bottom: 8px;
    &--abs {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__native {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #25272d;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #fff;
    outline: 0;
    background-color: transparent;
    transition: 0.3s;
    @include hover {
      &:hover {
        border-color: #fff;
      }
    }
    &.is-invalid {
      border-color: #ff545d;
      & + label {
        color: #ff545d;
      }
    }
    &:focus {
      &::placeholder {
        opacity: 0;
      }
      &:not(.is-invalid) {
        border-color: #0043ce;
      }
      &:not(.is-invalid) + .input__label {
        color: #0043ce;
        border-color: #0043ce;
      }
    }
    &::placeholder {
      color: #535965;
      transition: 0.3s;
    }
    &--lit {
      height: 63px;
      &:not(.spm-input) {
        padding-top: 12px;
      }
    }
  }
  &__icon {
    position: absolute;
    height: 40px;
    width: 40px;
    right: -56px;
    top: 50%;
    transform: translateY(-50%);
    fill: #0554f8;
    @include tablet {
      right: 0;
    }
  }
}
.radio {
  cursor: pointer;
  input {
    position: absolute;
    opacity: 0;
  }
  input:checked + .radio__wrap {
    &:after {
      opacity: 1;
    }
  }
  &__wrap {
    position: relative;
    padding-left: 32px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #c4c8cf;
    @include tablet {
      font-size: 16px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      height: 24px;
      width: 24px;
      border: 2px solid #c4c8cf;
      box-sizing: border-box;
      border-radius: 50%;
      @include tablet {
        height: 20px;
        width: 20px;
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 6px;
      height: 12px;
      width: 12px;
      box-sizing: border-box;
      background-color: #c4c8cf;
      border-radius: 50%;
      opacity: 0;
      transition: 0.3s;
      @include tablet {
        height: 10px;
        width: 10px;
        left: 5px;
      }
    }
  }
}
.radio-group {
  &__row {
    display: flex;
    gap: 1.5rem;
    @include small-tablet {
      flex-direction: column;
      gap: 1rem;
    }
  }
}
.just-validate-error-label {
  margin-top: 8px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  color: #ff545d;
}
.spm-flag-button {
  display: flex;
  align-items: center;
  padding: 4px;
  width: 44px;
  height: 32px;
  background: rgba(255, 255, 255, 0.05);
  top: 22px;
  transform: none;
  &:after {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background: url(../img/dropdown.svg);
    right: 4px;
  }
}
.spm-phone-prefix {
  display: none;
}

.spm-visual-mask {
  pointer-events: none;
  user-select: none;
  position: absolute;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #535965;
  left: 80px;
  top: 27px;
}
.spm-has-2 {
  .spm-visual-mask {
    left: 97px;
  }
}
.spm-has-3 {
  .spm-visual-mask {
    left: 108px;
  }
}
.spm-input {
  height: 77px;
  padding-left: 56px;
}

.spm-dropdown {
  background-color: #141517;
  border: none;
}
.spm-dropdown-option {
  font-family: var(--second-family);
  color: #fff;
}
.spm-dropdown-option:hover {
  background-color: transparent;
}
