@use "./mixins/disable-mob-hover" as *;
@use "./mixins/breakpoint" as *;
.games {
  &__wrapper {
    position: relative;
    overflow: hidden;
    padding: 0 6rem 2.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    @include tablet {
      padding: 0 0 2.5rem;
    }
  }
  &__slider {
    overflow: hidden;
  }
  &__button {
    display: block;
    margin: 40px auto 0;
    max-width: 326px;
    width: 100%;
    text-align: center;
  }
}

.games-item {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  @include tablet {
    border-radius: 12px;
  }
  &__content {
    position: relative;
    z-index: 50;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    min-height: 576px;
    box-sizing: border-box;
    padding: 24px 40px;
    @include tablet {
      padding: 16px;
      min-height: 257px;
    }
  }
  &__pretitle {
    margin-bottom: 1px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: #8f96a3;
    @include tablet {
      font-size: 11px;
    }
  }
  &__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 129%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #fff;
    @include tablet {
      font-size: 18px;
    }
  }
  &__options {
    padding: 0;
    margin: 32px 0 0 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
    @include tablet {
      margin-top: 12px;
      gap: 10px;
    }
  }
  &__option {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    &:first-child {
      margin-right: 40px;
      @include tablet {
        margin-right: 28px;
      }
    }
    @include tablet {
      font-size: 11px;
    }
  }
  &__option-title {
    margin-bottom: 4px;
    color: #8f96a3;
  }
  &__option-value {
    color: var(--white);
  }
  &__stickers {
    display: flex;
    gap: 1rem;
  }
  &__sticker {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    height: 36px;
    max-width: 96px;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 13px;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    @include tablet {
      font-size: 9px;
      height: 22px;
      padding: 0 4px;
      max-width: 62px;
    }
    &--hit {
      background: #da1e28;
      letter-spacing: 0.06em;
      line-height: 123%;
    }
    &--our {
      font-size: 11px;
      background: #db890d;
      @include tablet {
        font-size: 8px;
      }
    }
    &--new {
      background: #44a248;
      letter-spacing: 0.06em;
      line-height: 123%;
    }
  }
  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
