@use "./mixins/disable-mob-hover" as *;
@use "./mixins/breakpoint" as *;
.hero {
  position: relative;
  min-height: 100vh;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #1f1d21 0%, rgba(31, 29, 33, 0) 180%);
    // mix-blend-mode: overlay;
  }
  @include tablet {
    min-height: inherit;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        180deg,
        rgba(20, 21, 23, 0.65) 0%,
        rgba(20, 21, 23, 0) 50.48%
      );
    }
  }
  &__selects {
    display: none;
    @include tablet {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      // max-width: 500px;
      margin: 0 auto 1rem;
    }
    .select__caption {
      justify-content: center;
    }
    .select__icon {
      margin: 0;
    }
  }
  &__content {
    position: relative;
    z-index: 100;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 0;
    box-sizing: border-box;
    max-width: 580px;
    margin: auto;
    width: 100%;
    padding: 12rem 0 9rem;

    @include tablet {
      min-height: inherit;
      padding-bottom: 5rem;
    }
    @include mobile {
      padding: 12.5rem 0 1.5rem;
      min-height: inherit;
      text-wrap: balance;
    }
  }
  &__title {
    margin: 0;
    font-family: var(--font5);
    font-weight: 800;
    font-size: 52px;
    line-height: 121%;
    text-align: center;
    color: #ececee;
    @include tablet {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 28px;
      line-height: 121%;
      text-align: center;
      color: #ececee;
    }
    span {
      font-size: 48px;
      @include tablet {
        font-size: 28px;
      }
    }
  }
  &__desc {
    margin: 1.5rem 0 6.5rem 0;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 121%;
    text-align: center;
    color: #c4c8cf;
    text-wrap: balance;
    @include tablet {
      font-size: 16px;
      margin: 1rem 0 10rem;
    }
  }
  &__button {
    @include tablet {
      padding: 1.25rem 1.5rem;
    }
    @include mobile {
      max-width: 31.25rem;
      width: 100%;
      margin: 0 auto;
    }
  }
}
