@use "./mixins/breakpoint" as *;
.modal {
  &__container {
    padding: 2.5rem;
    border-radius: 4px;
    width: 96%;
    box-sizing: border-box;
    max-width: 600px;
    width: 96%;
    background: #1c1e22;

    &--with-footer {
      padding-bottom: 0;
    }
    &--quiz {
      max-width: 1384px;
    }
    @include tablet {
      padding: 24px 16px;
    }
  }
  &__title {
    margin-bottom: 16px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 121%;
    text-align: center;
    color: #c4c8cf;
    @include tablet {
      font-size: 20px;
    }
  }
  &__button {
    max-width: 416px;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  &__subtitle {
    margin-bottom: 12px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-wrap: balance;
    color: #5e6573;
  }
  &__close {
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 0;
    background-color: transparent;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    right: 24px;
    top: 20px;
    @include tablet {
      right: 5px;
      top: 5px;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &__header {
    margin-bottom: 2.5rem;
  }
}

.reservation {
  &__form {
    margin-top: 40px;
  }
  &__form-input {
    & + & {
      margin-top: 24px;
    }
  }
  &__form-desc {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #5e6573;
    text-wrap: balance;
  }
  &__form-wrap {
    border: 1px solid #272b2b;
    border-radius: 12px;
    padding: 24px;
    margin: 24px auto 0;
    max-width: 416px;
    width: 100%;
  }
  &__button {
    margin-top: 16px;
    max-width: 416px;
    width: 100%;
    margin: 16px auto 0;
    display: block;
  }
}

.air-datepicker-global-container {
  z-index: 15000;
}
