@use "./mixins/breakpoint" as *;
.quiz {
  &__header {
    display: flex;
    gap: 1rem;
    padding-bottom: 23px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    svg {
      flex-shrink: 0;
      height: 3rem;
      width: 3rem;
      fill: #0043ce;
      @include tablet {
        height: 2.5rem;
        width: 2.5rem;
      }
    }
  }
  &__title {
    margin-bottom: 4px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 1.5rem;
    color: #ececee;
    @include tablet {
      font-size: 1rem;
    }
  }
  &__subtitle {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 1.25rem;
    color: #5e6573;
    @include tablet {
      font-size: 0.875rem;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &__form-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.quiz-item {
  display: none;
  &.js-active {
    display: block;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding: 1.125rem 0;
    gap: 0.75rem;
  }
  &__body {
    min-height: 29.125rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 1.125rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  &__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 121%;
    color: #ececee;
    @include tablet {
      font-size: 1rem;
    }
  }
  &__status {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
  }
  &__status-title {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 1.125rem;
    color: #c7cccc;
    span {
      color: #5e6573;
    }
    @include tablet {
      font-size: 12px;
    }
  }
  &__status-progress {
    position: relative;
    overflow: hidden;
    width: 5.25rem;
    height: 0.25rem;

    background-color: #535965;
    border-radius: 2px;
    @include tablet {
      width: 3.125rem;
    }
  }
  &__status-current {
    height: 100%;
    background-color: #92b5ff;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    @media (max-width: 1250px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__label {
    display: block;
    cursor: pointer;
    input {
      position: absolute;
      opacity: 0;
    }
    img {
      display: block;
      margin-bottom: 16px;
      width: 100%;
      height: 10.625rem;
      border-radius: 0.5rem;
      @include tablet {
        height: 7rem;
      }
    }
  }
  input:checked + .quiz-item__label-wrap {
    &:after {
      opacity: 1;
    }
  }
  &__label-wrap {
    position: relative;
    display: block;
    &::after {
      position: absolute;
      top: -9px;
      left: -13px;
      content: "";
      height: 1.75rem;
      width: 1.75rem;
      background: url(../img/quiz/check.svg) no-repeat center;
      background-size: contain;
      opacity: 0;
      transition: 0.3s;
    }
  }
  &__label-name {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    color: #ececee;
    @include tablet {
      font-size: 0.75rem;
    }
  }
  &__input {
    max-width: 25rem;
  }
}
