@use "./mixins/breakpoint" as *;
.service-reviews {
  .container {
    position: relative;
    padding-top: 16px;
    @include tablet {
      padding-top: 24px;
    }
    &::after,
    &:before {
      content: "";
      position: absolute;
      background-color: rgba(255, 255, 255, 0.1);
      width: calc(100% - 30px);
      height: 1px;
      left: 50%;
      transform: translateX(-50%);
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
  }
  &__wrapper {
    position: relative;
    padding: 0 4.5rem 2.5rem;
    @include tablet {
      padding: 0 0 24px;
    }
  }
  &__slider {
    overflow: hidden;
  }
  &__tabs {
    margin-left: 4.5rem;
    display: flex;
    background: #25272d;
    width: max-content;
    padding: 4px;
    border-radius: 6px;
    gap: 4px;
    @include tablet {
      margin-left: 0;
      border-radius: 8px;
    }
  }
  &__tab {
    padding: 8px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: #ececee;

    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: 0.3s;
    cursor: pointer;
    &.js-active {
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
      background: #101114;
    }
    img {
      height: 24px;
      width: 24px;
      margin-top: -1px;
    }
  }
  &__tabs-desc {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 0.875rem;
    color: #ececee;
    margin-left: 4.5rem;
    padding: 1rem 0 1.5rem;
    @include tablet {
      margin-left: 0;
    }
  }
}
.service-reviews-item {
  padding: 16px 24px;
  box-sizing: border-box;
  background: #ececee;
  border-radius: 16px;
  @include tablet {
    border-radius: 8px;
  }
  &__top {
    display: flex;
    gap: 10px;
  }
  &__photo {
    height: 56px;
    width: 56px;
    display: block;
    flex-shrink: 0;
    border-radius: 50%;
  }
  &__author {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  &__author-name {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 14px;
    color: #3c4049;
  }
  &__date {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 11px;
    color: #8f96a3;
  }
  &__rating {
    display: flex;
    gap: 8px;
    svg {
      height: 20px;
      width: 20px;
      fill: none;
      stroke: #efcd5d;
    }
    &[data-value="4"] {
      svg:nth-child(-n + 4) {
        fill: #efcd5d;
      }
    }
    &[data-value="5"] {
      svg {
        fill: #efcd5d;
      }
    }
  }
  &__bottom {
    margin-top: 16px;
  }
  &__desc {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 12px;
    color: #5e6573;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__more {
    margin-left: auto;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 11px;
    color: #5e6573;
  }
  &__from {
    display: flex;
    width: max-content;
    margin-top: 1rem;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 11px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #8f96a3;
  }
}
