@use "./mixins/disable-mob-hover" as *;
@use "./mixins/breakpoint" as *;
.slider {
  &__arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #0554f8;
    border-radius: 0.75rem;
    margin-top: -2.5rem;
    transition: 0.3s;
    @include hover {
      &:hover {
        background-color: #0554f8;
      }
    }
    @include tablet {
      display: none;
    }

    &--lit {
      height: 3rem;
      width: 3rem;
    }
    &--big {
      height: 4.5rem;
      width: 4.5rem;
    }
    &.swiper-button-disabled {
      pointer-events: none;
    }
    &--prev {
      left: 0;
    }
    &--next {
      right: 0;
      svg {
        transform: rotate(180deg);
      }
    }
    &--center {
      margin-top: 0;
      transform: translateY(-50%);
    }
    svg {
      height: 1.5rem;
      width: 1.5rem;
      transition: 0.4s;
      fill: none;
      stroke-width: 1.5px;
      stroke: #adc4fc;
      fill: transparent;
    }
  }
}

.slider-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  .swiper-pagination-bullet {
    height: 0.875rem;
    width: 0.875rem;
    background-color: rgba(#5b89f8, 0.3);
    border: 1px solid rgba(#5b89f8, 0.3);
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
    @include tablet {
      height: 0.5rem;
      width: 0.5rem;
    }
    &.swiper-pagination-bullet-active {
      border-color: #5b89f8;
    }
  }
}
