@use "./mixins/disable-mob-hover" as *;
@use "./mixins/breakpoint" as *;
.social {
  &__list {
    display: flex;
    align-items: center;
    gap: 1rem;
    @include tablet {
      gap: 0.75rem;
    }
  }
  &__item {
    &--desk {
      @include tablet {
        display: none;
      }
    }
    &--mob {
      display: none;
      @include tablet {
        display: block;
      }
    }
  }
  &__link {
    display: flex;
    height: 2rem;
    width: 2rem;
    @include hover {
      &:hover {
        .social__icon {
          fill: var(--white);
        }
      }
    }
  }
  &__icon {
    height: 100%;
    width: 100%;
    fill: var(--light-grey);
    transition: 0.3s;
    @include tablet {
      fill: #8f96a3;
    }
  }
}
