@use "./mixins/breakpoint" as *;
.tarifs {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    @include big-desktop {
      grid-template-columns: 1fr;
      gap: 32px;
    }
  }
  &__tabs {
    margin-bottom: 70px;
  }
}
.tarifs-item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  background: #1c1e22;
  border-radius: 12px;
  @include tablet {
    overflow: hidden;
    padding: 12px 16px;
  }
  &__head {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 32px;
    box-sizing: border-box;
    gap: 20px;
    @include tablet {
      padding-right: 0;
    }
  }
  &__info {
    display: flex;
    gap: 1rem;
  }
  &__info-value {
    padding: 12px 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);

    box-sizing: border-box;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    @include tablet {
      font-size: 9px;
    }
  }
  &__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #fff;
    @include tablet {
      font-size: 14px;
      letter-spacing: 0.02em;
    }
  }
  &__type {
    margin-top: 4px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #5e6573;
    @include tablet {
      margin-top: 2px;
      font-size: 9px;
    }
  }
  &__prices {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin: 24px 0 29px;
    @include tablet {
      margin: 10px 0 40px;
    }
  }
  &__price-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 12px;
    box-sizing: border-box;
    min-width: 116px;
    width: max-content;
    @include tablet {
      display: flex;
      align-items: center;
      padding: 4px 6px;
      min-width: 144px;
      gap: 8px;
    }
  }
  &__price-pretitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #5e6573;
    @include tablet {
      font-size: 9px;
    }
  }
  &__value {
    position: relative;

    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 4px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #c4c8cf;
    @include tablet {
      font-size: 11px;
    }
    &:before {
      content: "";
      height: 14px;
      width: 14px;
      border-radius: 100%;
      @include tablet {
        height: 8px;
        width: 8px;
      }
    }
    &--green {
      &:before {
        background-color: #44a248;
      }
    }
    &--blue {
      &:before {
        background-color: #0554f8;
      }
    }
    &--red {
      &:before {
        background-color: #da1e28;
      }
    }
  }
  &__footer {
    position: relative;
    z-index: 10;
    margin-top: auto;
    display: flex;
    gap: 20px;
  }
  &__button {
    padding: 0.75rem;
    max-width: 160px;
    width: 100%;
    font-size: 13px;
    @include tablet {
      padding: 7px;
      font-size: 11px;
      border-radius: 4px;
      max-width: 124px;
    }
  }
  &__picture {
    position: absolute;
    bottom: 0;
    right: 0;
    @include tablet {
      height: 80%;
      width: 86%;
    }
  }
}
