<div class="about-us">
  <div class="container">
    <ul class="about-us__list">
      <li class="about-us-item">
        <picture class="about-us-item__picture">
          <source srcset="img/about-us/1.webp" type="image/webp">
          <img loading="lazy" src="img/about-us/1.jpg" class="image" width="" height="" alt="">
        </picture>
        <div class="about-us-item__title">БОЛЬШОЙ ВЫБОР ИГР И АТТРАКЦИОНОВ</div>
        <div class="about-us-item__desc">Лучшие VR-игры разных жанров, в которые можно играть, как одному,
          так и компанией!
          В нашем арсенале более 100 популярных VR-игр для детей и взрослых. Каждый сможет найти себе развлечение
          по вкусу!</div>
      </li>
      <li class="about-us-item">
        <picture class="about-us-item__picture">
          <source srcset="img/about-us/2.webp" type="image/webp">
          <img loading="lazy" src="img/about-us/2.jpg" class="image" width="" height="" alt="">
        </picture>
        <div class="about-us-item__title">НЕВЕРОЯТНЫЙ УРОВЕНЬ ПОГРУЖЕНИЯ</div>
        <div class="about-us-item__desc">
          VR даёт возможность испытать невероятные эмоции и впечатления, игрок чувствует себя не наблюдателем,
          а полноценным участником происходящего. Надеваете VR-шлем — и переноситесь в новый увлекательный
          мир виртуальной реальности
        </div>
      </li>
      <li class="about-us-item">
        <picture class="about-us-item__picture">
          <source srcset="img/about-us/3.webp" type="image/webp">
          <img loading="lazy" src="img/about-us/3.jpg" class="image" width="" height="" alt="">
        </picture>
        <div class="about-us-item__title">Развлечение для всей семьи</div>
        <div class="about-us-item__desc">
          Парк виртуальных развлечений — отличная идея для семейного досуга. Безопасно, весело и очень затягивает!
          Подходит для детей от 6 лет и взрослых любого возраста — приходите всей семьёй, и каждый уйдёт с улыбкой
        </div>
      </li>
      <li class="about-us-item">
        <picture class="about-us-item__picture">
          <source srcset="img/about-us/4.webp" type="image/webp">
          <img loading="lazy" src="img/about-us/4.jpg" class="image" width="" height="" alt="">
        </picture>
        <div class="about-us-item__title">НЕЗАБЫВАЕМЫЕ МЕРОПРИЯТИЯ</div>
        <div class="about-us-item__desc">
          День рождения, корпоратив или встреча с друзьями — сделаем ваше событие особенным. Персональный подход, помощь
          в организации и море эмоций — всё для того, чтобы ваше мероприятие стало особенным и запоминающимся!
        </div>
      </li>
    </ul>
    <svg class="about-us__path" width="1836" height="1589" viewBox="0 0 1836 1589" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M856.721 1C1631.63 116.028 1889.54 202.853 1825.68 491.619C1720.15 968.735 -72.4054 577.725 3.33327 1194.29C66.0417 1704.78 1025.5 1586.89 1195.54 1548.88"
        stroke="white" stroke-opacity="0.1" stroke-dasharray="12 12" />
    </svg>
  </div>
</div>