<div class="modal micromodal-slide " id="contact-detail-1" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container modal__container--contacts-detail" role="dialog" aria-modal="true">
      <div class="modal__wrap modal__wrap--contacts-detail">
        <button class="modal__close btn-reset" aria-label="Закрыть окно" data-micromodal-close>
          <svg class="modal__close-icon" data-micromodal-close>
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <div class="contact-detail">
          <div class="contact-detail__row">
            <div class="contact-detail__left">
              <div class="contact-detail__top-slider">
                <div class="contact-detail__main-slider">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                  </div>

                </div>
                <div class="swiper-arrow slider__arrow slider__arrow--center slider__arrow--lit slider__arrow--prev">
                  <svg>
                    <use xlink:href="img/sprite.svg#chevron-left"></use>
                  </svg>
                </div>
                <div class="swiper-arrow slider__arrow slider__arrow--center slider__arrow--lit slider__arrow--next">
                  <svg>
                    <use xlink:href="img/sprite.svg#chevron-left"></use>
                  </svg>
                </div>
              </div>

              <div thumbsSlider class="contact-detail__previews-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                </div>
              </div>
            </div>

            <div class="contacts-grid-item contacts-grid-item--no-padding">
              <div
                class="contacts-grid-item__sticker contacts-grid-item__sticker--static-right contacts-grid-item__sticker--new">
                new
              </div>
              <div class="contacts-grid-item__title">
                ТРЦ «АВИАпарк»
              </div>

              <div class="contacts-grid-item__options">
                <div class="contacts-grid-item__option contacts-grid-item__option--adress">
                  <svg>
                    <use xlink:href="img/sprite.svg#marker"></use>
                  </svg>
                  Ходынский бульвар&nbsp;4
                </div>
                <div class="contacts-grid-item__option contacts-grid-item__option--metro">
                  <svg>
                    <use xlink:href="img/sprite.svg#metro"></use>
                  </svg>
                  ЦСКА
                </div>
                <a href="tel:+79171111111" class="contacts-grid-item__option contacts-grid-item__option--phone">
                  <svg>
                    <use xlink:href="img/sprite.svg#marker"></use>
                  </svg>
                  +7&nbsp;917&nbsp;111-11-11
                </a>
                <div class="contacts-grid-item__option contacts-grid-item__option--parking">
                  <svg>
                    <use xlink:href="img/sprite.svg#parking"></use>
                  </svg>
                  Бесплатная парковка 3 часа
                </div>

              </div>
              <div class="contacts-grid-item__schedule">
                <div class="contacts-grid-item__schedule-title">
                  время работы:
                </div>

                <div class="contacts-grid-item__schedule-item">
                  <span>ПН-ЧТ</span>
                  12:00&nbsp;— 22:00
                </div>
                <div class="contacts-grid-item__schedule-item">
                  <span>ПТ-ВС</span>
                  12:00&nbsp;— 23:00
                </div>

              </div>
              <div class="contacts-grid-item__footer">
                <button class="button contacts-grid-item__button button--blue button--lit">подробнее</button>
                <div class="contacts-grid-item__info">
                  <div class="contacts-grid-item__type contacts-grid-item__type--park">
                    park
                  </div>
                  <div class="contacts-grid-item__rating">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    5.0
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>

<div class="modal micromodal-slide " id="contact-detail-2" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container modal__container--contacts-detail" role="dialog" aria-modal="true">
      <div class="modal__wrap modal__wrap--contacts-detail">
        <button class="modal__close btn-reset" aria-label="Закрыть окно" data-micromodal-close>
          <svg class="modal__close-icon" data-micromodal-close>
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <div class="contact-detail">
          <div class="contact-detail__row">
            <div class="contact-detail__left">
              <div class="contact-detail__top-slider">
                <div class="contact-detail__main-slider">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a data-fancybox href="img/noimage-grey.jpg">
                        <img src="img/noimage-grey.jpg" />
                      </a>
                    </div>
                  </div>

                </div>
                <div class="swiper-arrow slider__arrow slider__arrow--center slider__arrow--lit slider__arrow--prev">
                  <svg>
                    <use xlink:href="img/sprite.svg#chevron-left"></use>
                  </svg>
                </div>
                <div class="swiper-arrow slider__arrow slider__arrow--center slider__arrow--lit slider__arrow--next">
                  <svg>
                    <use xlink:href="img/sprite.svg#chevron-left"></use>
                  </svg>
                </div>
              </div>

              <div thumbsSlider class="contact-detail__previews-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                  <div class="swiper-slide">
                    <img src="img/noimage-grey.jpg" />

                  </div>
                </div>
              </div>
            </div>

            <div class="contacts-grid-item contacts-grid-item--no-padding">
              <div
                class="contacts-grid-item__sticker contacts-grid-item__sticker--static-right contacts-grid-item__sticker--new">
                new
              </div>
              <div class="contacts-grid-item__title">
                ТРЦ «АВИАпарк»
              </div>

              <div class="contacts-grid-item__options">
                <div class="contacts-grid-item__option contacts-grid-item__option--adress">
                  <svg>
                    <use xlink:href="img/sprite.svg#marker"></use>
                  </svg>
                  Ходынский бульвар&nbsp;4
                </div>
                <div class="contacts-grid-item__option contacts-grid-item__option--metro">
                  <svg>
                    <use xlink:href="img/sprite.svg#metro"></use>
                  </svg>
                  ЦСКА
                </div>
                <a href="tel:+79171111111" class="contacts-grid-item__option contacts-grid-item__option--phone">
                  <svg>
                    <use xlink:href="img/sprite.svg#marker"></use>
                  </svg>
                  +7&nbsp;917&nbsp;111-11-11
                </a>
                <div class="contacts-grid-item__option contacts-grid-item__option--parking">
                  <svg>
                    <use xlink:href="img/sprite.svg#parking"></use>
                  </svg>
                  Бесплатная парковка 3 часа
                </div>

              </div>
              <div class="contacts-grid-item__schedule">
                <div class="contacts-grid-item__schedule-title">
                  время работы:
                </div>

                <div class="contacts-grid-item__schedule-item">
                  <span>ПН-ЧТ</span>
                  12:00&nbsp;— 22:00
                </div>
                <div class="contacts-grid-item__schedule-item">
                  <span>ПТ-ВС</span>
                  12:00&nbsp;— 23:00
                </div>

              </div>
              <div class="contacts-grid-item__footer">
                <button class="button contacts-grid-item__button button--blue button--lit">подробнее</button>
                <div class="contacts-grid-item__info">
                  <div class="contacts-grid-item__type contacts-grid-item__type--park">
                    park
                  </div>
                  <div class="contacts-grid-item__rating">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    5.0
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>