<div class="cookie js-hidden">
  <div class="cookie__offer">
    Дополнительная скидка по промокоду SALE на первую игру
    <button class="cookie__close btn-reset">
      <svg class="cookie__icon">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
  <div class="cookie__container">
    <p> Мы используем файлы <a href="#">cookie</a> и другие технологии для вашего удобства пользования сайтом</p>
    <button class="cookie__button button button--rounded button--lit">согласен</button>
  </div>
</div>