<div class="modal micromodal-slide " id="event-1" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container modal__container--detail" role="dialog" aria-modal="true">
      <div class="modal__wrap modal__wrap--detail">
        <button class="modal__close modal__close--outside btn-reset" aria-label="Закрыть окно" data-micromodal-close>
          <svg class="modal__close-icon" data-micromodal-close>
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <div class="detail-modal">
          <div class="detail-modal__head">
            <div class="detail-modal__type">день рождения</div>
            <div class="detail-modal__title">BIG</div>
          </div>
          <div class="detail-modal__body">
            <div class="detail-modal__undertitle">Исследуйте все грани нашей VR-вселенной! Отличный вариант для больших
              компаний. Каждый коллектив найдёт предложение по вкусу
            </div>
            <div class="detail-modal__options">
              <div class="detail-modal__option">
                <div class="detail-modal__option-title">длительность</div>
                <div class="detail-modal__option-vale">3 часа 45 минут</div>
              </div>
              <div class="detail-modal__option">
                <div class="detail-modal__option-title">количество гостей</div>
                <div class="detail-modal__option-vale">до 30 человек</div>
              </div>

            </div>
            <div class="detail-modal__picture">
              <picture>
                <source srcset="img/detail.webp" type="image/webp">
                <img loading="lazy" src="img/detail.jpg" class="image" width="345" height="258" alt="">
              </picture>
            </div>
            <div class="detail-modal__desc-title">
              В программу включено:
            </div>
            <div class="detail-modal__desc" data-simplebar>
              <ul>
                <li>90 минут на VR-арене: Погружение в виртуальную реальность, где каждый почувствует себя настоящим
                  героем+ (45 мин) игра WARPOINT+ (45 мин) игра с выбором режима: WARPOINT, KIDS PARTY, VR ZOMBIE, VR
                  BATTLE, VR TACTICS)</li>
                <li>60 катаний на VR-аттракционах</li>
                <li>4 шлема виртуальной реальности (VR-ZONE) на все время мероприятия, более 50 игр на выбор.
                  Погрузитесь
                  в захватывающие виртуальные приключения с неограниченным доступом к множеству VR-игр, которые подарят
                  вам и вашим гостям незабываемые впечатления</li>
                <li>Турнир на арене и турнир по игре “Beat Saber”</li>
                <li>1 шоу-программа на выбор (или еще 45 минут игры на VR-арене)</li>
                <li> Профессиональный фотограф (2 часа)</li>
                <li>Координатор на все время мероприятия</li>
                <li>Лаунж зона: Уютное пространство для отдыха и общения на все время праздника</li>
                <li>Игровая приставка и настольные игры: Играйте в захватывающие игры и весело проводите время вместе
                </li>
                <li>Пригласительные для гостей</li>
                <li> Бесплатные чай и кофе для ваших гостей</li>
                <li> Своя еда и напитки: приносите свои угощения и наслаждайтесь праздником без ограничений или закажите
                  еду у наших партнеров</li>

              </ul>
            </div>
          </div>
          <button class="detail-modal__button button button--blue button--medium" data-micromodal-trigger="reservation">
            оставить заявку
          </button>
        </div>
      </div>



    </div>


  </div>
</div>
<div class="modal micromodal-slide " id="tariff-1" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container modal__container--detail" role="dialog" aria-modal="true">
      <div class="modal__wrap modal__wrap--detail">
        <button class="modal__close modal__close--outside btn-reset" aria-label="Закрыть окно" data-micromodal-close>
          <svg class="modal__close-icon" data-micromodal-close>
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <div class="detail-modal">
          <div class="detail-modal__head">
            <div class="detail-modal__type">vr-arena</div>
            <div class="detail-modal__title">Игра компанией</div>
          </div>
          <div class="detail-modal__body">
            <div class="detail-modal__undertitle">
              Аренда площадки для игры только своей компанией. Оплата фиксированная, вне зависимости от количества
              участников

            </div>
            <div class="detail-modal__options">
              <div class="detail-modal__option">
                <div class="detail-modal__option-title">длительность</div>
                <div class="detail-modal__option-vale">60 минут</div>
              </div>
              <div class="detail-modal__option">
                <div class="detail-modal__option-title">количество игроков</div>
                <div class="detail-modal__option-vale">до 10 человек</div>
              </div>

            </div>
            <div class="detail-modal__picture">
              <picture>
                <source srcset="img/detail2.webp" type="image/webp">
                <img loading="lazy" src="img/detail2.jpg" class="image" width="345" height="258" alt="">
              </picture>
            </div>


          </div>
          <button class="detail-modal__button button button--blue button--medium" data-micromodal-trigger="reservation">
            оставить заявку
          </button>
        </div>
      </div>



    </div>


  </div>
</div>