<section class="faq section section--default">
  <div class="container">
    <div class="sectioh-head section-head--big-margin">
      <h2 class="section-head__title">
        часто задаваемые вопросы (FAQ)
      </h2>
    </div>
    <div class="faq__row">
      <div class="faq__left">
        <form action="#" class="qusetion-form">
          <div class="qusetion-form__title">У вас остались вопросы?</div>
          <div class="qusetion-form__subtitle">задайте их нашему менеджеру</div>
          <div class="qusetion-form__items">
            <div class="qusetion-form__input input">

              <input type="text" id="q-name" class="input__native input__native--name input__native--lit"
                placeholder="Ваше имя">
              <label for="q-name" class="input__label input__label--abs">имя</label>
            </div>
            <div class="qusetion-form__input input">

              <input type="email" id="q-email" class="input__native input__native--email input__native--lit"
                placeholder="youremail@email.com">
              <label for="q-email" class="input__label input__label--abs">Email</label>
            </div>
            <div class="qusetion-form__input input input--phone">

              <input type="tel" id="q-phone" class="input__native input__native--phone input__native--lit"
                placeholder="Ваш телефон">
              <label for="q-name" class="input__label input__label--abs">ваш телефон</label>
            </div>
            <label class="qusetion-form__checkbox checkbox">
              <input type="checkbox" class="checkbox__native">
              <span class="checkbox__wrap">
                <span class="checkbox__fake"></span>
                <span class="checkbox__text">
                  Принимаю условия <a href="#">политики конфиденциальности</a>
                  и даю согласие на <a href="#">обработку персональных данных</a>
                </span>
              </span>
            </label>
            <button class="qusetion-form__button button button--blue button--big">заказать звонок</button>
          </div>
        </form>
      </div>
      <div class="faq__right">
        <div class="faq__items">
          <div class="faq-item">
            <div class="faq-item__head">
              <div class="faq-item__title">
                Сколько человек могут играть одновременно?
              </div>

              <button class="faq-item__button">
                <svg class="faq-item__icon">
                  <use xlink:href="img/sprite.svg#chevron-down"></use>
                </svg>
              </button>
            </div>
            <div class="faq-item__body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-item__head">
              <div class="faq-item__title">
                Есть ли возрастные ограничения?
              </div>

              <button class="faq-item__button">
                <svg class="faq-item__icon">
                  <use xlink:href="img/sprite.svg#chevron-down"></use>
                </svg>
              </button>
            </div>
            <div class="faq-item__body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-item__head">
              <div class="faq-item__title">
                Как одеться и что взять с собой на игру?
              </div>

              <button class="faq-item__button">
                <svg class="faq-item__icon">
                  <use xlink:href="img/sprite.svg#chevron-down"></use>
                </svg>
              </button>
            </div>
            <div class="faq-item__body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-item__head">
              <div class="faq-item__title">
                Можно принести с собой напитки и еду?
              </div>

              <button class="faq-item__button">
                <svg class="faq-item__icon">
                  <use xlink:href="img/sprite.svg#chevron-down"></use>
                </svg>
              </button>
            </div>
            <div class="faq-item__body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-item__head">
              <div class="faq-item__title">
                Есть ли противопоказания к игре?
              </div>

              <button class="faq-item__button">
                <svg class="faq-item__icon">
                  <use xlink:href="img/sprite.svg#chevron-down"></use>
                </svg>
              </button>
            </div>
            <div class="faq-item__body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-item__head">
              <div class="faq-item__title">
                Можно ли играть, если у человека плохое зрение или он носит очки?
              </div>

              <button class="faq-item__button">
                <svg class="faq-item__icon">
                  <use xlink:href="img/sprite.svg#chevron-down"></use>
                </svg>
              </button>
            </div>
            <div class="faq-item__body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </div>
          </div>
        </div>
        <a href="#" class="faq__button button button--rounded">
          посмотреть все вопросы
        </a>
      </div>
    </div>
  </div>
</section>