<div class="features">
  <div class="container">
    <div class="features__grid">
      <div class="features-item">
        <div class="features-item__content">
          <div class="features-item__title">
            фирменный мерч
          </div>
          <div class="features-item__desc">Каталог нашей атрибутики. Станьте <br> частью виртуального мира WARPOINT!
          </div>
          <a href="#" class="features-item__link">
            в каталог →
          </a>
        </div>
        <picture class="features-item__picture">
          <source srcset="img/features/1_mob.webp" type="image/webp" media="(max-width: 1024px)">
          <source srcset="img/features/1_mob.png" type="image/png" media="(max-width: 1024px)">
          <source srcset="img/features/1.webp" type="image/webp">
          <img loading="lazy" src="img/features/1.png" class="image" width="" height="" alt="">
        </picture>
      </div>
      <div class="features-item">
        <div class="features-item__content">
          <div class="features-item__title">
            подарочные сертификаты
          </div>
          <div class="features-item__desc">
            Не ищите идеальный подарок, <br>
            мы уже все придумали!
          </div>
          <a href="#" class="features-item__link">
            купить сертификат →
          </a>
        </div>
        <picture class="features-item__picture">
          <source srcset="img/features/2_mob.webp" type="image/webp" media="(max-width: 1024px)">
          <source srcset="img/features/2_mob.png" type="image/png" media="(max-width: 1024px)">
          <source srcset="img/features/2.webp" type="image/webp">
          <img loading="lazy" src="img/features/2.png" class="image" width="" height="" alt="">
        </picture>
      </div>
      <div class="features-item">
        <div class="features-item__content">
          <div class="features-item__title">
            турниры
          </div>
          <div class="features-item__desc">
            Расписание турниров. Примите участие
            в самых масштабных VR-соревнованиях!
          </div>
          <a href="#" class="features-item__link">
            смотреть расписание →
          </a>
        </div>
        <picture class="features-item__picture">
          <source srcset="img/features/3_mob.webp" type="image/webp" media="(max-width: 1024px)">
          <source srcset="img/features/3_mob.png" type="image/png" media="(max-width: 1024px)">
          <source srcset="img/features/3.webp" type="image/webp">
          <img loading="lazy" src="img/features/3.png" class="image" width="" height="" alt="">
        </picture>
      </div>
      <div class="features-item">
        <div class="features-item__content">
          <div class="features-item__title">
            бонусная программа
          </div>
          <div class="features-item__desc">
            Становитесь участником нашей системы лояльности, оплачивайте бонусами игры
            или обменивайте на мерч
          </div>
          <a href="#" class="features-item__link">
            читать подробнее →
          </a>
        </div>
        <picture class="features-item__picture">
          <source srcset="img/features/4_mob.webp" type="image/webp" media="(max-width: 1024px)">
          <source srcset="img/features/4_mob.png" type="image/png" media="(max-width: 1024px)">
          <source srcset="img/features/4.webp" type="image/webp">
          <img loading="lazy" src="img/features/4.png" class="image" width="" height="" alt="">
        </picture>
      </div>
    </div>
  </div>
</div>
