<footer class="footer">
  <div class="container">
    <div class="footer-nav">
      <div class="footer-nav__item">
        <ul class="footer-nav__list">

          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">главная</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">каталог игр</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">сертификаты</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">наши акции</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">мерч</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">турниры</a></li>
        </ul>
      </div>
      <div class="footer-nav__item">
        <ul class="footer-nav__list">


          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">личный кабинет</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">бонусная программа</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">полезные статьи</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">популярные вопросы</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">вакансии</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">новости</a></li>
        </ul>
      </div>
      <div class="footer-nav__item">
        <ul class="footer-nav__list">
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">о компании</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">адреса локаций</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">арендодателям</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">контакты</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">франшиза</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">реквизиты</a></li>
        </ul>
      </div>
      <div class="footer-nav__item">
        <ul class="footer-nav__list">
          <li class="footer-nav__list-item">
            <a href="#" class="footer-nav__link"></a>
          </li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">политика конфиденциальности</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">Политика использования Cookie</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">пользовательское соглашение</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">использование сертификатов</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">правила оплаты</a></li>
          <li class="footer-nav__list-item"><a href="#" class="footer-nav__link">правила возврата</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom__left">
        <div class="footer__contacts">
          <div class="footer__contacts-list">
            <div class="footer__contact">
              <div class="footer__contact-title">Оставить обратную связь</div>
              <a href="" class="footer__contact-value">feedback@warpoint.ru </a>
            </div>
            <div class="footer__contact">
              <div class="footer__contact-title">По вопросам сотрудничества</div>
              <a href="" class="footer__contact-value">pr@warpoint.ru</a>
            </div>
            <div class="footer__contact">
              <div class="footer__contact-title">Франшиза</div>
              <a href="" class="footer__contact-value">franchise@warpoint.ru</a>
            </div>
          </div>
        </div>
        <div class="footer__copy">
          <div class="footer__copy-item">
            <span> ООО «ВАРПОИНТ» ИНН: 6671105370 </span>
            <span> КПП: 667101001 ОГРН: 1206600026544</span>
          </div>
          <div class="footer__copy-item">
            <span>© 2020-2025. WARPOINT. Все права защищены. </span>
            <span>Копирование материалов сайта запрещено</span>
          </div>

        </div>
        <div class="footer__report">
          <a href="#" class="footer__report-link">Сообщить о нарушении прав</a>
        </div>
      </div>
      <div class="footer-bottom__right">
        <div class="footer__apps">
          <a href="#" class="footer__app-link">
            <img src="img/btn-apple-store.svg" alt="">
          </a>
          <a href="" class="footer__app-link">
            <img src="img/btn-google-store.svg" alt="">
          </a>
        </div>
        <div class="footer__skolkovo">
          <p>
            Разработка собственного ПО.
            Интеллектуальная собственность.
            Деятельность в сфере IT.
          </p>
          <picture>
            <source srcset="img/skolkovo.webp" type="image/webp">
            <img loading="lazy" src="img/skolkovo.png" class="image" width="" height="" alt="">
          </picture>
        </div>
        <div class="footer__allert">
          *Компания Meta признана экстремистской на территории России
        </div>
      </div>
    </div>
  </div>

</footer>


<div class="modal micromodal-slide" id="callback" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container modal__container--lit" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <div class="modal__header">
        <div class="modal__title">
          Оставьте заявку
        </div>
        <button class="modal__close" aria-label="Закрыть окно" data-micromodal-close>
          <svg class="modal__close-icon" data-micromodal-close>
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
      </div>

      <div class="modal__content" id="modal-1-content">
        <form action="#" class="form form--modal">
          <div class="form__wrap">
            <div class="form__item">
              <input type="text" name="name" placeholder=" " id="name" class="form__input form__input--name" />
              <label class="form__input-placeholder" for="name">Имя или компания</label>
            </div>
            <div class="form__item">
              <input type="tel" name="phone" placeholder=" " id="phone" class="form__input form__input--phone" />
              <label class="form__input-placeholder" for="phone">Телефон</label>
            </div>
            <div class="form__item">
              <input type="text" name="comment" placeholder=" " id="comment" class="form__input" />
              <label class="form__input-placeholder" for="comment">Расскажите о проблеме</label>
            </div>
            <label class="form__file form__file--default">
              <input type="file" />
              <svg class="form__file-icon">
                <use xlink:href="img/sprite.svg#file"></use>
              </svg>
              Прикрепить файл
            </label>
            <button class="form__button form__button--big-margin button">
              Заказать звонок
            </button>
            <div class="form__policy">
              Нажимая «Заказать звонок», вы соглашаетесь с политикой
              конфиденциальности и обработки персональных данных
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>