<section class="formats section section--dark section--default">
  <div class="container">
    <div class="section-head">
      <h2 class="section-head__title">
        Отметьте яркий день рождения
        или устройте эпичную битву с коллегами
      </h2>
      <p class="section-head__desc">
        Используйте локацию под свои запросы, а мы поможем хорошо провести время!
      </p>
    </div>
    <div class="formats__wrapper">
      <div class="formats__slider">
        <div class="formats__arrows">
          <div class="swiper-arrow slider__arrow slider__arrow--big slider__arrow--prev">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5 12H19M5 12L9 16M5 12L9 8" stroke="#ADC4FC" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </div>
          <div class="swiper-arrow slider__arrow slider__arrow--big slider__arrow--next">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5 12H19M5 12L9 16M5 12L9 8" stroke="#ADC4FC" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </div>
        </div>
        <div class="swiper-wrapper">

          <div class="swiper-slide formats-item">
            <div class="formats-item__image">
              <picture>
                <source srcset="img/formats/1.webp" type="image/webp">
                <img loading="lazy" src="img/formats/1.jpg" class="image" width="320" height="227" alt="">
              </picture>
            </div>
            <div class="formats-item__content">
              <div class="formats-item__title">ДЕТСКИЙ ДЕНЬ РОЖДЕНИЯ</div>
              <p class="formats-item__desc">Сделаем этот день незабываемым! Подготовим торт, свечи, украшения, чтобы
                порадовать именинника и его гостей. И мальчишки, и девчонки будут
                в восторге!</p>
              <a href="#" class="formats-item__link">подробнее</a>
            </div>




          </div>
          <div class="swiper-slide formats-item">
            <div class="formats-item__image">
              <picture>
                <source srcset="img/formats/2.webp" type="image/webp">
                <img loading="lazy" src="img/formats/2.jpg" class="image" width="320" height="227" alt="">
              </picture>
            </div>
            <div class="formats-item__content">
              <div class="formats-item__title">взрослый ДЕНЬ РОЖДЕНИЯ</div>
              <p class="formats-item__desc">Расскажите нам о планах, а мы поможем устроить необычный праздник, так что у
                друзей челюсть отвиснет! Поиграли – а дальше можно и по барам!</p>
              <a href="#" class="formats-item__link">подробнее</a>
            </div>




          </div>
          <div class="swiper-slide formats-item">
            <div class="formats-item__image">
              <picture>
                <source srcset="img/formats/3.webp" type="image/webp">
                <img loading="lazy" src="img/formats/3.jpg" class="image" width="320" height="227" alt="">
              </picture>
            </div>
            <div class="formats-item__content">
              <div class="formats-item__title">КОРПОРАТИВ / ТИМБИЛДИНГ</div>
              <p class="formats-item__desc">Устройте турнир на звание «Самого крутого отдела». В финал выйдут лучшие из
                лучших. А пока команды играют, остальные могут порубиться в приставку и отдохнуть в лаунж-зоне</p>
              <a href="#" class="formats-item__link">подробнее</a>
            </div>




          </div>
          <div class="swiper-slide formats-item">
            <div class="formats-item__image">
              <picture>
                <source srcset="img/formats/4.webp" type="image/webp">
                <img loading="lazy" src="img/formats/4.jpg" class="image" width="320" height="227" alt="">
              </picture>
            </div>
            <div class="formats-item__content">
              <div class="formats-item__title">ШКОЛЬНЫЙ ВЫПУСКНОЙ</div>
              <p class="formats-item__desc">Тематические программы специально подготовлены для школьных выпускных.
                Праздник с погружением в фантастическую атмосферу, в котором могут принять участие и взрослые, и дети
              </p>
              <a href="#" class="formats-item__link">подробнее</a>
            </div>




          </div>


        </div>

        <div class="formats__slider-pagination">

        </div>
      </div>
    </div>
    <a href="#" class="formats__button button button--big button--blue">рассчитать стоимость</a>
  </div>
</section>