<section class="section section--dark section--default games-section" id="zones">
  <div class="container">
    <div class="section-head section-head--big-margin">
      <h2 class="section-head__title">
        игровые зоны в наших парках
      </h2>
      <p class="section-head__desc">Каждый найдет развлечение себе по вкусу!</p>
    </div>
    <ul class="games-section__list">
      <li class="games-section-item">
        <div class="games-section-item__row">
          <div class="games-section-item__options">
            <div class="games-section-item__option games-section-item__option--blue">
              1-10
              <svg class="games-section-item__option-icon">
                <use xlink:href="img/sprite.svg#user"></use>
              </svg>
            </div>
            <div class="games-section-item__option games-section-item__option--white">
              от 800 ₽
            </div>
          </div>
          <div class="games-section-item__about">
            <div class="games-section-item__title">
              VR-arena
            </div>
            <div class="games-section-item__subtitle">
              так вы еще не играли!
            </div>
            <div class="games-section-item__desc">
              Командные сражения на виртуальном поле боя. Никаких проводов и ограничений, свободное перемещение и полное
              погружение в игру
            </div>
            <button
              class="games-section-item__button games-section-item__button--desk button button--rounded button--big">
              забронировать
            </button>
          </div>
          <div class="games-section-item__video-wrap" data-speed="0.8">
            <a data-fancybox href="https://www.youtube.com/watch?v=w1aAb_32Pb8&ab_channel=WARPOINT%7CFranchise"
              class="games-section-item__video">
              <svg width="89" height="89" viewBox="0 0 89 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                <foreignObject x="-12.4893" y="-12.4889" width="113.219" height="113.219">

                </foreignObject>
                <g data-figma-bg-blur-radius="21.6095">
                  <circle cx="44.1201" cy="44.1206" r="35" fill="white" fill-opacity="0.2" />
                  <circle cx="44.1201" cy="44.1206" r="34.6624" stroke="white" stroke-opacity="0.2"
                    stroke-width="0.675296" />
                </g>
                <path d="M54.1201 43.6206L39.8701 54.4459L39.8701 32.7953L54.1201 43.6206Z" fill="white" />
                <defs>
                  <clipPath transform="translate(12.4893 12.4889)">
                    <circle cx="44.1201" cy="44.1206" r="35" />
                  </clipPath>
                </defs>
              </svg>
              <picture>
                <source srcset="img/games-section/1.webp" type="image/webp">
                <img loading="lazy" src="img/games-section/1.jpg" class="image" width="318" height="285" alt="">
              </picture>
            </a>
            <button
              class="games-section-item__button games-section-item__button--mobile button button--rounded button--big">
              забронировать
            </button>
          </div>


        </div>
      </li>
      <li class="games-section-item">
        <div class="games-section-item__row">
          <div class="games-section-item__options">
            <div class="games-section-item__option games-section-item__option--blue">
              1-4
              <svg class="games-section-item__option-icon">
                <use xlink:href="img/sprite.svg#user"></use>
              </svg>
            </div>
            <div class="games-section-item__option games-section-item__option--white">
              от 400 ₽
            </div>
          </div>
          <div class="games-section-item__about">
            <div class="games-section-item__title">
              VR-room
            </div>
            <div class="games-section-item__subtitle">
              Большой выбор игр
            </div>
            <div class="games-section-item__desc">
              Зона классического VR для одиночных и командных игр. Победите плохих парней, спасите мир от зомби,
              пройдите увлекательный квест или сразитесь с мифическим чудовищем
            </div>
            <button
              class="games-section-item__button games-section-item__button--desk button button--rounded button--big">
              забронировать
            </button>
          </div>
          <div class="games-section-item__video-wrap" data-speed="0.8">
            <a data-fancybox href="https://www.youtube.com/watch?v=w1aAb_32Pb8&ab_channel=WARPOINT%7CFranchise"
              class="games-section-item__video">
              <svg width="89" height="89" viewBox="0 0 89 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                <foreignObject x="-12.4893" y="-12.4889" width="113.219" height="113.219">

                </foreignObject>
                <g data-figma-bg-blur-radius="21.6095">
                  <circle cx="44.1201" cy="44.1206" r="35" fill="white" fill-opacity="0.2" />
                  <circle cx="44.1201" cy="44.1206" r="34.6624" stroke="white" stroke-opacity="0.2"
                    stroke-width="0.675296" />
                </g>
                <path d="M54.1201 43.6206L39.8701 54.4459L39.8701 32.7953L54.1201 43.6206Z" fill="white" />
                <defs>
                  <clipPath transform="translate(12.4893 12.4889)">
                    <circle cx="44.1201" cy="44.1206" r="35" />
                  </clipPath>
                </defs>
              </svg>
              <picture>
                <source srcset="img/games-section/2.webp" type="image/webp">
                <img loading="lazy" src="img/games-section/2.jpg" class="image" width="318" height="285" alt="">
              </picture>
            </a>
            <button
              class="games-section-item__button games-section-item__button--mobile button button--rounded button--big">
              забронировать
            </button>
          </div>


        </div>
      </li>
      <li class="games-section-item">
        <div class="games-section-item__row">
          <div class="games-section-item__options">
            <div class="games-section-item__option games-section-item__option--blue">
              1-2
              <svg class="games-section-item__option-icon">
                <use xlink:href="img/sprite.svg#user"></use>
              </svg>
            </div>
            <div class="games-section-item__option games-section-item__option--white">
              от 350 ₽
            </div>
          </div>
          <div class="games-section-item__about">
            <div class="games-section-item__title">
              VR-extreme
            </div>
            <div class="games-section-item__subtitle">
              Захватывает дух!
            </div>
            <div class="games-section-item__desc">
              Игровая зона с VR-аттракционами, где можно прокатиться на безумных американских горках, поуправлять
              гигантским роботом или полетать на космическом корабле
            </div>
            <button
              class="games-section-item__button games-section-item__button--desk button button--rounded button--big">
              забронировать
            </button>
          </div>
          <div class="games-section-item__video-wrap" data-speed="0.8">
            <a data-fancybox href="https://www.youtube.com/watch?v=w1aAb_32Pb8&ab_channel=WARPOINT%7CFranchise"
              class="games-section-item__video">
              <svg width="89" height="89" viewBox="0 0 89 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                <foreignObject x="-12.4893" y="-12.4889" width="113.219" height="113.219">

                </foreignObject>
                <g data-figma-bg-blur-radius="21.6095">
                  <circle cx="44.1201" cy="44.1206" r="35" fill="white" fill-opacity="0.2" />
                  <circle cx="44.1201" cy="44.1206" r="34.6624" stroke="white" stroke-opacity="0.2"
                    stroke-width="0.675296" />
                </g>
                <path d="M54.1201 43.6206L39.8701 54.4459L39.8701 32.7953L54.1201 43.6206Z" fill="white" />
                <defs>
                  <clipPath transform="translate(12.4893 12.4889)">
                    <circle cx="44.1201" cy="44.1206" r="35" />
                  </clipPath>
                </defs>
              </svg>
              <picture>
                <source srcset="img/games-section/3.webp" type="image/webp">
                <img loading="lazy" src="img/games-section/3.jpg" class="image" width="318" height="285" alt="">
              </picture>
            </a>
            <button
              class="games-section-item__button games-section-item__button--mobile button button--rounded button--big">
              забронировать
            </button>
          </div>


        </div>
      </li>
      <li class="games-section-item">
        <div class="games-section-item__row">
          <div class="games-section-item__options">
            <div class="games-section-item__option games-section-item__option--blue">
              1-2
              <svg class="games-section-item__option-icon">
                <use xlink:href="img/sprite.svg#user"></use>
              </svg>
            </div>
            <div class="games-section-item__option games-section-item__option--white">
              от 500 ₽
            </div>
          </div>
          <div class="games-section-item__about">
            <div class="games-section-item__title">
              racing zone
            </div>
            <div class="games-section-item__subtitle">
              гоночные симуляторы
            </div>
            <div class="games-section-item__desc">
              Игровая зона с профессиональными автосимуляторами, где можно устроить соревновательные заезды с друзьями и
              показать, кто настоящий король скорости!
            </div>
            <button
              class="games-section-item__button games-section-item__button--desk button button--rounded button--big">
              забронировать
            </button>
          </div>
          <div class="games-section-item__video-wrap" data-speed="0.8">
            <a data-fancybox href="https://www.youtube.com/watch?v=w1aAb_32Pb8&ab_channel=WARPOINT%7CFranchise"
              class="games-section-item__video">
              <svg width="89" height="89" viewBox="0 0 89 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                <foreignObject x="-12.4893" y="-12.4889" width="113.219" height="113.219">

                </foreignObject>
                <g data-figma-bg-blur-radius="21.6095">
                  <circle cx="44.1201" cy="44.1206" r="35" fill="white" fill-opacity="0.2" />
                  <circle cx="44.1201" cy="44.1206" r="34.6624" stroke="white" stroke-opacity="0.2"
                    stroke-width="0.675296" />
                </g>
                <path d="M54.1201 43.6206L39.8701 54.4459L39.8701 32.7953L54.1201 43.6206Z" fill="white" />
                <defs>
                  <clipPath transform="translate(12.4893 12.4889)">
                    <circle cx="44.1201" cy="44.1206" r="35" />
                  </clipPath>
                </defs>
              </svg>
              <picture>
                <source srcset="img/games-section/4.webp" type="image/webp">
                <img loading="lazy" src="img/games-section/4.jpg" class="image" width="318" height="285" alt="">
              </picture>
            </a>
            <button
              class="games-section-item__button games-section-item__button--mobile button button--rounded button--big">
              забронировать
            </button>
          </div>


        </div>
      </li>
      <li class="games-section-item">
        <div class="games-section-item__row">
          <div class="games-section-item__options">
            <div class="games-section-item__option games-section-item__option--blue">
              до 10
              <svg class="games-section-item__option-icon">
                <use xlink:href="img/sprite.svg#user"></use>
              </svg>
            </div>
            <div class="games-section-item__option games-section-item__option--white">
              от 15 000 ₽
            </div>
          </div>
          <div class="games-section-item__about">
            <div class="games-section-item__title">
              lounge zone
            </div>
            <div class="games-section-item__subtitle">
              Незабываемые мероприятия
            </div>
            <div class="games-section-item__desc">
              Комфортное пространство для любых мероприятий, где можно ярко отметить день рождения или провести
              незабываемый корпоратив с коллегами
            </div>
            <button
              class="games-section-item__button games-section-item__button--desk button button--rounded button--big">
              забронировать
            </button>
          </div>
          <div class="games-section-item__video-wrap" data-speed="0.8">
            <a data-fancybox href="https://www.youtube.com/watch?v=w1aAb_32Pb8&ab_channel=WARPOINT%7CFranchise"
              class="games-section-item__video">
              <svg width="89" height="89" viewBox="0 0 89 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                <foreignObject x="-12.4893" y="-12.4889" width="113.219" height="113.219">

                </foreignObject>
                <g data-figma-bg-blur-radius="21.6095">
                  <circle cx="44.1201" cy="44.1206" r="35" fill="white" fill-opacity="0.2" />
                  <circle cx="44.1201" cy="44.1206" r="34.6624" stroke="white" stroke-opacity="0.2"
                    stroke-width="0.675296" />
                </g>
                <path d="M54.1201 43.6206L39.8701 54.4459L39.8701 32.7953L54.1201 43.6206Z" fill="white" />
                <defs>
                  <clipPath transform="translate(12.4893 12.4889)">
                    <circle cx="44.1201" cy="44.1206" r="35" />
                  </clipPath>
                </defs>
              </svg>
              <picture>
                <source srcset="img/games-section/5.webp" type="image/webp">
                <img loading="lazy" src="img/games-section/5.jpg" class="image" width="318" height="285" alt="">
              </picture>
            </a>
            <button
              class="games-section-item__button games-section-item__button--mobile button button--rounded button--big">
              забронировать
            </button>
          </div>


        </div>
      </li>

    </ul>

  </div>
</section>