<div class="hero">
  <div class="container">
    <video autoplay muted playsinline loop class="hero__video">
      <source src="video/video.mp4" type="video/mp4">
    </video>

    <div class="hero__content">
      <h1 class="hero__title">
        ОТКРОЙТЕ ДЛЯ СЕБЯ
        <span> МИР VR-РАЗВЛЕЧЕНИЙ</span>
      </h1>
      <p class="hero__desc">
        ВМЕСТЕ C КРУПНЕЙШЕЙ СЕТЬЮ
        ПАРКОВ ВИРТУАЛЬНОЙ РЕАЛЬНОСТИ
      </p>
      <div class="hero__selects">
        <div class="select">
          <div class="select__caption" data-micromodal-trigger="location">

            <div class="select__value">
              выберите локацию
            </div>
            <svg class="select__icon">
              <use xlink:href="img/sprite.svg#caret-down"></use>
            </svg>


          </div>

        </div>
        <div class="select">
          <div class="select__caption" data-micromodal-trigger="location">
            <svg class="select__icon select__icon--big">
              <use xlink:href="img/sprite.svg#marker"></use>
            </svg>
            <div class="select__value">
              проспект космонавтов 108 д
            </div>
            <svg class="select__icon">
              <use xlink:href="img/sprite.svg#caret-down"></use>
            </svg>


          </div>

        </div>
      </div>
      <button class="hero__button button button--blue button--big"
        data-micromodal-trigger="reservation">Забронировать</button>
    </div>
  </div>
</div>