<div class="hero">
  <div class="container">
    <picture class="hero__bg">
      <source srcset="/img/hero.webp" type="image/webp">
      <img loading="lazy" src="/img/hero.jpg" class="image" width="" height="" alt="">
    </picture>
    <div class="hero__content">
      <h1 class="hero__title">
        ОТКРОЙТЕ ДЛЯ СЕБЯ
        <span> МИР VR-РАЗВЛЕЧЕНИЙ</span>
      </h1>
      <p class="hero__desc">
        ВМЕСТЕ C КРУПНЕЙШЕЙ СЕТЬЮ
        ПАРКОВ ВИРТУАЛЬНОЙ РЕАЛЬНОСТИ
      </p>
      <button class="hero__button button button--blue button--big">Забронировать</button>
    </div>
  </div>
</div>