<div class="hero">
  <div class="container">
    <video autoplay muted playsinline loop class="hero__video">
      <source src="video/video.mp4" type="video/mp4">
    </video>

    <div class="hero__content">
      <h1 class="hero__title">
        ОТКРОЙТЕ ДЛЯ СЕБЯ
        <span> МИР VR-РАЗВЛЕЧЕНИЙ</span>
      </h1>
      <p class="hero__desc">
        ВМЕСТЕ C КРУПНЕЙШЕЙ СЕТЬЮ
        ПАРКОВ ВИРТУАЛЬНОЙ РЕАЛЬНОСТИ
      </p>
      <button class="hero__button button button--blue button--big"
        data-micromodal-trigger="reservation">Забронировать</button>
    </div>
  </div>
</div>