<div class="section section--big">
  <div class="container">
    <div class="main-slider">

      <div class="swiper-wrapper">

        <div class="swiper-slide news-item">
          <a href="#">
            <img src="img/noimage-grey.jpg" alt="">
          </a>

        </div>
        <div class="swiper-slide news-item">
          <a href="#">
            <img src="img/noimage-grey.jpg" alt="">
          </a>

        </div>


      </div>
      <div class="swiper-arrow slider__arrow slider__arrow--center slider__arrow--lit slider__arrow--prev">
        <svg class="">
          <use xlink:href="img/sprite.svg#chevron-left"></use>
        </svg>
      </div>
      <div class="swiper-arrow slider__arrow slider__arrow--center slider__arrow--lit slider__arrow--next">
        <svg class="">
          <use xlink:href="img/sprite.svg#chevron-left"></use>
        </svg>
      </div>


    </div>


  </div>
</div>