<div class="news">
  <div class="container">
    <div class="news__wrapper">
      <div class="news__slider">
        <div class="swiper-wrapper">

          <div class="swiper-slide news-item">
            <a href="#" class="news-item__button news-item__button--mobile button button--lit button--rounded">
              подробнее
            </a>
            <a href="#" class="news-item__image">
              <picture>
                <source srcset="img/news_image.webp" type="image/webp">
                <img loading="lazy" src="img/news_image.jpg" class="image" width="" height="" alt="">
              </picture>

            </a>

            <div class="news-item__content">
              <a href="#" class="news-item__title">ТУРНИР ПО ИГРЕ WARPOINT ARENA В ЕКАТЕРИНБУРГЕ</a>
              <p class="news-item__desc">Не упустите шанс стать частью масштабных VR-соревнований и сразиться
                за призовой
                фонд в размере 100 000 рублей!</p>
              <a href="#" class="news-item__button news-item__button--desk button button--lit button--rounded">
                подробнее
              </a>
            </div>
          </div>
          <div class="swiper-slide news-item">
            <a href="#" class="news-item__button news-item__button--mobile button button--lit button--rounded">
              подробнее
            </a>
            <a href="#" class="news-item__image">
              <picture>
                <source srcset="img/news_image.webp" type="image/webp">
                <img loading="lazy" src="img/news_image.jpg" class="image" width="" height="" alt="">
              </picture>

            </a>

            <div class="news-item__content">
              <a href="#" class="news-item__title">ТУРНИР ПО ИГРЕ WARPOINT ARENA В ЕКАТЕРИНБУРГЕ</a>
              <p class="news-item__desc">Не упустите шанс стать частью масштабных VR-соревнований и сразиться
                за призовой
                фонд в размере 100 000 рублей!</p>
              <a href="#" class="news-item__button news-item__button--desk button button--lit button--rounded">
                подробнее
              </a>
            </div>
          </div>

        </div>
        <div class="swiper-arrow slider__arrow slider__arrow--lit slider__arrow--prev">
          <svg class="">
            <use xlink:href="img/sprite.svg#chevron-left"></use>
          </svg>
        </div>
        <div class="swiper-arrow slider__arrow slider__arrow--lit slider__arrow--next">
          <svg class="">
            <use xlink:href="img/sprite.svg#chevron-left"></use>
          </svg>
        </div>
        <div class="news__slider-pagination">

        </div>
      </div>
    </div>


  </div>
</div>
