<section class="games section section--dark section--big">
  <div class="container">
    <div class="section-head">
      <h2 class="section-head__title">
        наши игры
      </h2>
      <p class="section-head__desc">
        Выберите свое виртуальное приключение
      </p>
    </div>
    <div class="games__wrapper">
      <div class="games__slider">
        <div class="swiper-wrapper">

          <div class="swiper-slide games-item">
            <div class="games-item__content">
              <div class="games-item__stickers">
                <div class="games-item__sticker games-item__sticker--hit">
                  хит
                </div>
                <div class="games-item__sticker games-item__sticker--our">
                  сделано
                  в warpoint
                </div>
              </div>
              <div class="games-item__info">
                <div class="games-item__pretitle">PVP-шутер</div>
                <div class="games-item__title">Warpoint Arena</div>
                <ul class="games-item__options">
                  <li class="games-item__option">
                    <div class="games-item__option-title">игровая зона</div>
                    <div class="games-item__option-value">VR-Arena</div>
                  </li>
                  <li class="games-item__option">
                    <div class="games-item__option-title">Игроков</div>
                    <div class="games-item__option-value">2-10</div>
                  </li>
                  <li class="games-item__option">
                    <div class="games-item__option-title">Возраст</div>
                    <div class="games-item__option-value">8+</div>
                  </li>
                </ul>
              </div>
            </div>
            <picture class="games-item__picture">
              <source srcset="img/games/1.webp" type="image/webp">
              <img loading="lazy" src="img/games/1.jpg" class="image" width="" height="" alt="">
            </picture>

          </div>
          <div class="swiper-slide games-item">
            <div class="games-item__content">
              <div class="games-item__stickers">
                <div class="games-item__sticker games-item__sticker--new">
                  NEW
                </div>
                <div class="games-item__sticker games-item__sticker--our">
                  сделано
                  в warpoint
                </div>
              </div>
              <div class="games-item__info">
                <div class="games-item__pretitle">для детей</div>
                <div class="games-item__title">Warpoint Kids</div>
                <ul class="games-item__options">
                  <li class="games-item__option">
                    <div class="games-item__option-title">игровая зона</div>
                    <div class="games-item__option-value">VR-Arena</div>
                  </li>
                  <li class="games-item__option">
                    <div class="games-item__option-title">Игроков</div>
                    <div class="games-item__option-value">2-10</div>
                  </li>
                  <li class="games-item__option">
                    <div class="games-item__option-title">Возраст</div>
                    <div class="games-item__option-value">8+</div>
                  </li>
                </ul>
              </div>
            </div>
            <picture class="games-item__picture">
              <source srcset="img/games/2.webp" type="image/webp">
              <img loading="lazy" src="img/games/2.jpg" class="image" width="" height="" alt="">
            </picture>

          </div>
          <div class="swiper-slide games-item">
            <div class="games-item__content">
              <div class="games-item__stickers">
                <div class="games-item__sticker games-item__sticker--hit">
                  хит
                </div>
                <div class="games-item__sticker games-item__sticker--our">
                  сделано
                  в warpoint
                </div>
              </div>
              <div class="games-item__info">
                <div class="games-item__pretitle">PVP-шутер</div>
                <div class="games-item__title">Warpoint Arena</div>
                <ul class="games-item__options">
                  <li class="games-item__option">
                    <div class="games-item__option-title">игровая зона</div>
                    <div class="games-item__option-value">VR-Arena</div>
                  </li>
                  <li class="games-item__option">
                    <div class="games-item__option-title">Игроков</div>
                    <div class="games-item__option-value">2-10</div>
                  </li>
                  <li class="games-item__option">
                    <div class="games-item__option-title">Возраст</div>
                    <div class="games-item__option-value">8+</div>
                  </li>
                </ul>
              </div>
            </div>
            <picture class="games-item__picture">
              <source srcset="img/games/1.webp" type="image/webp">
              <img loading="lazy" src="img/games/1.jpg" class="image" width="" height="" alt="">
            </picture>

          </div>
          <div class="swiper-slide games-item">
            <div class="games-item__content">
              <div class="games-item__stickers">
                <div class="games-item__sticker games-item__sticker--new">
                  NEW
                </div>
                <div class="games-item__sticker games-item__sticker--our">
                  сделано
                  в warpoint
                </div>
              </div>
              <div class="games-item__info">
                <div class="games-item__pretitle">для детей</div>
                <div class="games-item__title">Warpoint Kids</div>
                <ul class="games-item__options">
                  <li class="games-item__option">
                    <div class="games-item__option-title">игровая зона</div>
                    <div class="games-item__option-value">VR-Arena</div>
                  </li>
                  <li class="games-item__option">
                    <div class="games-item__option-title">Игроков</div>
                    <div class="games-item__option-value">2-10</div>
                  </li>
                  <li class="games-item__option">
                    <div class="games-item__option-title">Возраст</div>
                    <div class="games-item__option-value">8+</div>
                  </li>
                </ul>
              </div>
            </div>
            <picture class="games-item__picture">
              <source srcset="img/games/2.webp" type="image/webp">
              <img loading="lazy" src="img/games/2.jpg" class="image" width="" height="" alt="">
            </picture>

          </div>


        </div>
        <div class="swiper-arrow slider__arrow slider__arrow--big slider__arrow--prev">
          <svg class="">
            <use xlink:href="img/sprite.svg#chevron-left"></use>
          </svg>
        </div>
        <div class="swiper-arrow slider__arrow slider__arrow--big slider__arrow--next">
          <svg class="">
            <use xlink:href="img/sprite.svg#chevron-left"></use>
          </svg>
        </div>
        <div class="games__slider-pagination slider-pagination">

        </div>
      </div>
    </div>
    <a href="#" class="games__button button button--big button--rounded">
      смотреть все игры
    </a>
  </div>
</section>