<section class="games section section--dark section--big">
  <div class="container">
    <div class="section-head">
      <h2 class="section-head__title">
        наши игры
      </h2>
      <p class="section-head__desc">
        Выберите свое виртуальное приключение
      </p>
    </div>

    <form class="filters games__filters">
      <button class="filters__button" type="button">
        <span class="filters__button-title">
          фильтры
        </span>
        <span class="filters__button-icon">
          <svg>
            <use xlink:href="img/sprite.svg#chevron-down"></use>
          </svg>
        </span>
      </button>

      <div class="filters__row">
        <div class="filters__head">
          <div class="filters__title">
            фильтры:
          </div>
          <button class="filters__reset" type="reset">
            сбросить всё
          </button>
        </div>

        <div class="filters-item">
          <label class="filters-item__label">игровая зона</label>
          <select class="filters-item__select" name="zones">
            <option value="любая" selected>любая</option>
            <option value="любая">любая</option>
            <option value="любая">любая</option>
            <option value="любая">любая</option>
          </select>

        </div>

        <div class="filters-item">
          <label class="filters-item__label">сделано в warpoint</label>
          <label class="checkbox">
            <input type="checkbox" checked>
            <span class="checkbox__wrap">
              <span class="checkbox__fake"></span>
            </span>
          </label>

        </div>




        <div class="filters-item">
          <label class="filters-item__label">кол-во игроков</label>
          <select class="filters-item__select" name="quantity">
            <option value="любая" selected>любое</option>
            <option value="любая">любое</option>
            <option value="любая">любое</option>
            <option value="любая">любое</option>
          </select>

        </div>
        <div class="filters-item">
          <label class="filters-item__label">жанр</label>
          <select class="filters-item__select" name="jenre">
            <option value="любая" selected>любой</option>
            <option value="любая">любой</option>
            <option value="любая">любой</option>
            <option value="любая">любой</option>
          </select>

        </div>
        <div class="filters-item">
          <label class="filters-item__label">возраст</label>
          <select class="filters-item__select" name="years">
            <option value="любая" selected>любой</option>
            <option value="любая">любой</option>
            <option value="любая">любой</option>
            <option value="любая">любой</option>
          </select>

        </div>


      </div>
    </form>
    <div class="games__wrapper">
      <div class="games__slider">
        <div class="swiper-wrapper">

          <div class="swiper-slide games-item">
            <div class="games-item__content">
              <div class="games-item__stickers">
                <div class="games-item__sticker games-item__sticker--hit">
                  хит
                </div>
                <div class="games-item__sticker games-item__sticker--our">
                  сделано
                  в warpoint
                </div>
              </div>
              <div class="games-item__info">
                <div class="games-item__pretitle">PVP-шутер</div>
                <div class="games-item__title">Warpoint Arena</div>
                <ul class="games-item__options">
                  <li class="games-item__option">
                    <div class="games-item__option-title">игровая зона</div>
                    <div class="games-item__option-value">VR-Arena</div>
                  </li>
                  <li class="games-item__option">
                    <div class="games-item__option-title">Игроков</div>
                    <div class="games-item__option-value">2-10</div>
                  </li>
                  <li class="games-item__option">
                    <div class="games-item__option-title">Возраст</div>
                    <div class="games-item__option-value">8+</div>
                  </li>
                </ul>
              </div>
            </div>
            <picture class="games-item__picture">
              <source srcset="img/games/1.webp" type="image/webp">
              <img loading="lazy" src="img/games/1.jpg" class="image" width="" height="" alt="">
            </picture>

          </div>
          <div class="swiper-slide games-item">
            <div class="games-item__content">
              <div class="games-item__stickers">
                <div class="games-item__sticker games-item__sticker--new">
                  NEW
                </div>
                <div class="games-item__sticker games-item__sticker--our">
                  сделано
                  в warpoint
                </div>
              </div>
              <div class="games-item__info">
                <div class="games-item__pretitle">для детей</div>
                <div class="games-item__title">Warpoint Kids</div>
                <ul class="games-item__options">
                  <li class="games-item__option">
                    <div class="games-item__option-title">игровая зона</div>
                    <div class="games-item__option-value">VR-Arena</div>
                  </li>
                  <li class="games-item__option">
                    <div class="games-item__option-title">Игроков</div>
                    <div class="games-item__option-value">2-10</div>
                  </li>
                  <li class="games-item__option">
                    <div class="games-item__option-title">Возраст</div>
                    <div class="games-item__option-value">8+</div>
                  </li>
                </ul>
              </div>
            </div>
            <picture class="games-item__picture">
              <source srcset="img/games/2.webp" type="image/webp">
              <img loading="lazy" src="img/games/2.jpg" class="image" width="" height="" alt="">
            </picture>

          </div>
          <div class="swiper-slide games-item">
            <div class="games-item__content">
              <div class="games-item__stickers">
                <div class="games-item__sticker games-item__sticker--hit">
                  хит
                </div>
                <div class="games-item__sticker games-item__sticker--our">
                  сделано
                  в warpoint
                </div>
              </div>
              <div class="games-item__info">
                <div class="games-item__pretitle">PVP-шутер</div>
                <div class="games-item__title">Warpoint Arena</div>
                <ul class="games-item__options">
                  <li class="games-item__option">
                    <div class="games-item__option-title">игровая зона</div>
                    <div class="games-item__option-value">VR-Arena</div>
                  </li>
                  <li class="games-item__option">
                    <div class="games-item__option-title">Игроков</div>
                    <div class="games-item__option-value">2-10</div>
                  </li>
                  <li class="games-item__option">
                    <div class="games-item__option-title">Возраст</div>
                    <div class="games-item__option-value">8+</div>
                  </li>
                </ul>
              </div>
            </div>
            <picture class="games-item__picture">
              <source srcset="img/games/1.webp" type="image/webp">
              <img loading="lazy" src="img/games/1.jpg" class="image" width="" height="" alt="">
            </picture>

          </div>
          <div class="swiper-slide games-item">
            <div class="games-item__content">
              <div class="games-item__stickers">
                <div class="games-item__sticker games-item__sticker--new">
                  NEW
                </div>
                <div class="games-item__sticker games-item__sticker--our">
                  сделано
                  в warpoint
                </div>
              </div>
              <div class="games-item__info">
                <div class="games-item__pretitle">для детей</div>
                <div class="games-item__title">Warpoint Kids</div>
                <ul class="games-item__options">
                  <li class="games-item__option">
                    <div class="games-item__option-title">игровая зона</div>
                    <div class="games-item__option-value">VR-Arena</div>
                  </li>
                  <li class="games-item__option">
                    <div class="games-item__option-title">Игроков</div>
                    <div class="games-item__option-value">2-10</div>
                  </li>
                  <li class="games-item__option">
                    <div class="games-item__option-title">Возраст</div>
                    <div class="games-item__option-value">8+</div>
                  </li>
                </ul>
              </div>
            </div>
            <picture class="games-item__picture">
              <source srcset="img/games/2.webp" type="image/webp">
              <img loading="lazy" src="img/games/2.jpg" class="image" width="" height="" alt="">
            </picture>

          </div>


        </div>
        <div class="swiper-arrow slider__arrow slider__arrow--big slider__arrow--prev">
          <svg class="">
            <use xlink:href="img/sprite.svg#chevron-left"></use>
          </svg>
        </div>
        <div class="swiper-arrow slider__arrow slider__arrow--big slider__arrow--next">
          <svg class="">
            <use xlink:href="img/sprite.svg#chevron-left"></use>
          </svg>
        </div>
        <div class="games__slider-pagination slider-pagination">

        </div>
      </div>
    </div>
    <a href="#" class="games__button button button--big button--rounded">
      смотреть все игры
    </a>
    <div class="games__pick-up pick-up">
      <div class="pick-up__row">
        <div class="pick-up__left">
          <div class="pick-up__title">Не знаете какая игра подойдет именно вам? </div>
          <div class="pick-up__subtitle">Не проблема - оставьте заявку, и мы подскажем!</div>
        </div>
        <form action="#" class="pick-up__form">
          <div class="pick-up__form-row">
            <div class="pick-up__input input input--phone">

              <input type="tel" id="q-phone" class="input__native input__native--phone input__native--lit"
                placeholder="Ваш телефон">
              <label for="q-name" class="input__label input__label--abs">ваш телефон</label>
            </div>
            <button class="button pick-up__button  pick-up__button--desk button--lit button--blue">заказать
              звонок</button>
          </div>
          <label class="qusetion-form__checkbox checkbox">
            <input type="checkbox" class="checkbox__native">
            <span class="checkbox__wrap">
              <span class="checkbox__fake"></span>
              <span class="checkbox__text">
                Нажимая на кнопку "Заказать звонок", Вы соглашаетесь на обработку персональных данных
                в соответствии с <a href="#">Политикой конфиденциальности</a>, а также с условиями <a
                  href="#">Пользовательского соглашения</a>
              </span>
            </span>
          </label>
          <button class="button pick-up__button pick-up__button--mobile  button--lit button--blue">заказать
            звонок</button>


        </form>
      </div>


    </div>
  </div>
</section>