<div class="modal micromodal-slide" id="quiz" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container modal__container--quiz" role="dialog" aria-modal="true">
      <div class="modal__wrap modal__wrap--quiz">
        <button class="modal__close btn-reset" aria-label="Закрыть окно" data-micromodal-close>
          <svg class="modal__close-icon" data-micromodal-close>
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <div class="quiz">
          <div class="quiz__header">
            <div class="quiz__header-content">
              <div class="quiz__title">
                Рассчитайте стоимость мероприятия
              </div>
              <div class="quiz__subtitle">
                Ответьте на несколько вопросов и получите спецпредложение
              </div>
            </div>

          </div>
          <div class="quiz__items">
            <div class="quiz-item js-active" data-item="1">
              <div class="quiz-item__header">
                <div class="quiz-item__title">
                  Выберите мероприятие:
                </div>
                <div class="quiz-item__status">
                  <div class="quiz-item__status-title">
                    Шаг 1 <span>из 5</span>
                  </div>
                  <div class="quiz-item__status-progress">
                    <div class="quiz-item__status-current" style="width:20%"></div>
                  </div>
                </div>
              </div>
              <div class="quiz-item__body" data-simplebar>
                <div class="quiz-item__grid">
                  <label class="quiz-item__label">
                    <input type="radio" name="event" value="Детский день рождения">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/2.jpg" alt="">
                      <span class="quiz-item__label-name">Детский день рождения</span>
                    </span>
                  </label>
                  <label class="quiz-item__label">
                    <input type="radio" name="event" value="Взрослый день рождения">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/2.webp" alt="">
                      <span class="quiz-item__label-name">Взрослый день рождения</span>
                    </span>
                  </label>
                  <label class="quiz-item__label">
                    <input type="radio" name="event" value="Корпоратив / тимбилдинг">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/3.webp" alt="">
                      <span class="quiz-item__label-name">Корпоратив / тимбилдинг</span>
                    </span>
                  </label>
                  <label class="quiz-item__label">
                    <input type="radio" name="event" value="Школьный выпускной">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/4.webp" alt="">
                      <span class="quiz-item__label-name">Школьный выпускной</span>
                    </span>
                  </label>
                  <label class="quiz-item__label">
                    <input type="radio" name="event" value="Выездное мероприятие">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/4.webp" alt="">
                      <span class="quiz-item__label-name">Выездное мероприятие</span>
                    </span>
                  </label>
                </div>
              </div>
              <div class="quiz-item__footer">
                <button class="quiz-item__button button button--medium button--rounded-white quiz-item__button--back">
                  назад
                </button>
                <button class="quiz-item__button button button--blue button--medium quiz-item__button--next">
                  далее
                </button>
              </div>

            </div>
            <div class="quiz-item" data-item="2">
              <div class="quiz-item__header">
                <div class="quiz-item__title">
                  Сколько человек планируется?
                </div>
                <div class="quiz-item__status">
                  <div class="quiz-item__status-title">
                    Шаг 2 <span>из 5</span>
                  </div>
                  <div class="quiz-item__status-progress">
                    <div class="quiz-item__status-current" style="width:40%"></div>
                  </div>
                </div>
              </div>
              <div class="quiz-item__body" data-simplebar>
                <div class="quiz-item__grid">
                  <label class="quiz-item__label">
                    <input type="radio" name="persons" value="От 4 до 10">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/2.jpg" alt="">
                      <span class="quiz-item__label-name">От 4 до 10</span>
                    </span>
                  </label>
                  <label class="quiz-item__label">
                    <input type="radio" name="persons" value="От 11 до 20">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/2.webp" alt="">
                      <span class="quiz-item__label-name">От 11 до 20</span>
                    </span>
                  </label>
                  <label class="quiz-item__label">
                    <input type="radio" name="persons" value="От 21 до 30">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/3.webp" alt="">
                      <span class="quiz-item__label-name">От 21 до 30</span>
                    </span>
                  </label>
                  <label class="quiz-item__label">
                    <input type="radio" name="persons" value="Более 30">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/4.webp" alt="">
                      <span class="quiz-item__label-name">Более 30</span>
                    </span>
                  </label>

                </div>
              </div>
              <div class="quiz-item__footer">
                <button class="quiz-item__button button button--medium button--rounded-white quiz-item__button--back">
                  назад
                </button>
                <button class="quiz-item__button button button--blue button--medium quiz-item__button--next">
                  далее
                </button>
              </div>

            </div>
            <div class="quiz-item" data-item="3">
              <div class="quiz-item__header">
                <div class="quiz-item__title">
                  В какой день планируете провести мероприятие?
                </div>
                <div class="quiz-item__status">
                  <div class="quiz-item__status-title">
                    Шаг 3 <span>из 5</span>
                  </div>
                  <div class="quiz-item__status-progress">
                    <div class="quiz-item__status-current" style="width:60%"></div>
                  </div>
                </div>
              </div>
              <div class="quiz-item__body" data-simplebar>
                <div class="input input--with-icon quiz-item__input">

                  <input type="text" placeholder="ДД / ММ / ГГГГ" class="input__native input__native--lit"
                    id="calendar">
                  <label for="calendar" class="input__label input__label--abs">
                    дата мероприятия
                  </label>
                  <svg class="input__icon">
                    <use xlink:href="img/sprite.svg#calendar"></use>
                  </svg>
                </div>
              </div>
              <div class="quiz-item__footer">
                <button class="quiz-item__button button button--medium button--rounded-white quiz-item__button--back">
                  назад
                </button>
                <button class="quiz-item__button button button--blue button--medium quiz-item__button--next">
                  далее
                </button>
              </div>

            </div>
            <div class="quiz-item" data-item="4">
              <div class="quiz-item__header">
                <div class="quiz-item__title">
                  Чем Вы хотели бы дополнить праздник?
                </div>
                <div class="quiz-item__status">
                  <div class="quiz-item__status-title">
                    Шаг 4 <span>из 5</span>
                  </div>
                  <div class="quiz-item__status-progress">
                    <div class="quiz-item__status-current" style="width:80%"></div>
                  </div>
                </div>
              </div>
              <div class="quiz-item__body" data-simplebar>
                <div class="quiz-item__grid">
                  <label class="quiz-item__label">
                    <input type="checkbox" name="additionally" value="Мастер-класс">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/2.jpg" alt="">
                      <span class="quiz-item__label-name">Мастер-класс</span>
                    </span>
                  </label>
                  <label class="quiz-item__label">
                    <input type="checkbox" name="additionally" value="Фотограф">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/2.webp" alt="">
                      <span class="quiz-item__label-name">Фотограф</span>
                    </span>
                  </label>
                  <label class="quiz-item__label">
                    <input type="checkbox" name="additionally" value="Сторисмейкер">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/3.webp" alt="">
                      <span class="quiz-item__label-name">Сторисмейкер</span>
                    </span>
                  </label>
                  <label class="quiz-item__label">
                    <input type="checkbox" name="additionally" value="Праздничный торт">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/4.webp" alt="">
                      <span class="quiz-item__label-name">Праздничный торт</span>
                    </span>
                  </label>
                  <label class="quiz-item__label">
                    <input type="checkbox" name="additionally" value="Украшение шарами">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/4.webp" alt="">
                      <span class="quiz-item__label-name">Украшение шарами</span>
                    </span>
                  </label>
                  <label class="quiz-item__label">
                    <input type="checkbox" name="additionally" value="Пиньята">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/4.webp" alt="">
                      <span class="quiz-item__label-name">Пиньята</span>
                    </span>
                  </label>
                  <label class="quiz-item__label">
                    <input type="checkbox" name="additionally" value="DJ и ведущий">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/4.webp" alt="">
                      <span class="quiz-item__label-name">DJ и ведущий</span>
                    </span>
                  </label>
                  <label class="quiz-item__label">
                    <input type="checkbox" name="additionally" value="Шоу «Зеркальный человек»">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/4.webp" alt="">
                      <span class="quiz-item__label-name">Шоу «Зеркальный человек»</span>
                    </span>
                  </label>

                  <label class="quiz-item__label">
                    <input type="checkbox" name="additionally" value="Крио шоу">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/4.webp" alt="">
                      <span class="quiz-item__label-name">Крио шоу</span>
                    </span>
                  </label>

                </div>
              </div>
              <div class="quiz-item__footer">
                <button class="quiz-item__button button button--medium button--rounded-white quiz-item__button--back">
                  назад
                </button>
                <button class="quiz-item__button button button--blue button--medium quiz-item__button--next">
                  далее
                </button>
              </div>

            </div>
            <div class="quiz-item" data-item="5">
              <div class="quiz-item__header">
                <div class="quiz-item__title">
                  Где удобнее провести мероприятие?
                </div>
                <div class="quiz-item__status">
                  <div class="quiz-item__status-title">
                    Шаг 5 <span>из 5</span>
                  </div>
                  <div class="quiz-item__status-progress">
                    <div class="quiz-item__status-current" style="width:95%"></div>
                  </div>
                </div>
              </div>
              <div class="quiz-item__body" data-simplebar>
                <div class="quiz-item__grid">
                  <label class="quiz-item__label">
                    <input type="checkbox" name="loc" value="Мастер-класс">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/2.jpg" alt="">
                      <span class="quiz-item__label-name">Наименование локации в данном городе</span>
                    </span>
                  </label>
                  <label class="quiz-item__label">
                    <input type="checkbox" name="loc" value="Мастер-класс">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/2.jpg" alt="">
                      <span class="quiz-item__label-name">Наименование локации в данном городе</span>
                    </span>
                  </label>
                  <label class="quiz-item__label">
                    <input type="checkbox" name="loc" value="Мастер-класс">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/2.jpg" alt="">
                      <span class="quiz-item__label-name">Наименование локации в данном городе</span>
                    </span>
                  </label>
                  <label class="quiz-item__label">
                    <input type="checkbox" name="loc" value="Мастер-класс">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/2.jpg" alt="">
                      <span class="quiz-item__label-name">Наименование локации в данном городе</span>
                    </span>
                  </label>
                  <label class="quiz-item__label">
                    <input type="checkbox" name="loc" value="Мастер-класс">
                    <span class="quiz-item__label-wrap">
                      <img src="img/quiz/1/2.jpg" alt="">
                      <span class="quiz-item__label-name">Наименование локации в данном городе</span>
                    </span>
                  </label>



                </div>
              </div>
              <div class="quiz-item__footer">
                <button class="quiz-item__button button button--medium button--rounded-white quiz-item__button--back">
                  назад
                </button>
                <button class="quiz-item__button button button--blue button--medium quiz-item__button--next">
                  далее
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal__container modal__container--quiz-form" role="dialog" aria-modal="true">
      <div class="modal__wrap modal__wrap--quiz-form">
        <button class="modal__close btn-reset" aria-label="Закрыть окно" data-micromodal-close>
          <svg class="modal__close-icon" data-micromodal-close>
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <div class="quiz">
          <div class="quiz__header">
            <svg class="">
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
            <div class="quiz__header-content">
              <div class="quiz__title">
                Почти готово! Укажите данные для получения предложения
              </div>
              <div class="quiz__subtitle">
                Мы пришлем вам подходящую программу
              </div>
            </div>

          </div>
          <form action="#" class="quiz__form">
            <input type="hidden" name="event" id="hidden-event">
            <input type="hidden" name="persons" id="hidden-persons">
            <input type="hidden" name="event_date" id="hidden-event-date">
            <input type="hidden" name="additionally" id="hidden-additionally">
            <input type="hidden" name="loc" id="hidden-loc">

            <div class="quiz__form-input input">
              <input type="name" id="q-name" class="input__native input__native--lit" placeholder="youremail@email.com">
              <label for="q-name" class="input__label input__label--abs">Ваше имя</label>
            </div>
            <div class="quiz__form-input input input--phone">
              <input type="tel" id="q-phone" class="input__native input__native--lit" placeholder="Ваш телефон">
              <label for="q-phone" class="input__label input__label--abs">ваш телефон</label>
            </div>
            <div class="quiz__form-input input">
              <input type="email" id="q-email" class="input__native input__native--name input__native--lit"
                placeholder="youremail@email.com">
              <label for="q-email" class="input__label input__label--abs">Ваш email</label>
            </div>
            <div class="quiz__form-checkboxes radio-group">
              <label class="input__label">как удобнее получить информацию</label>
              <div class="radio-group__row">
                <label class="radio">
                  <input type="radio" name="mess">
                  <span class="radio__wrap">
                    Whatsapp
                  </span>
                </label>
                <label class="radio">
                  <input type="radio" name="mess">
                  <span class="radio__wrap">
                    Telegram
                  </span>
                </label>
                <label class="radio">
                  <input type="radio" name="mess">
                  <span class="radio__wrap">
                    Email
                  </span>
                </label>
              </div>
            </div>
            <label class="quiz__form-checkbox checkbox">
              <input type="checkbox" class="checkbox__native">
              <span class="checkbox__wrap">
                <span class="checkbox__fake"></span>
                <span class="checkbox__text checkbox__text--big">
                  Нажимая кнопку “Получить расчёт”, Вы соглашаетесь на обработку персональных данных в соответствии с <a
                    href="#">Политикой конфиденциальности</a>, а также с условиями <a href="#">Пользовательского
                    соглашения</a>
                </span>
              </span>
            </label>
            <div class="quiz__form-bottom">
              <button
                class="quiz__form-button quiz__form-button--reset button button--medium button--rounded-white">изменить
                ответы</button>
              <button type="submit" class="quiz__form-button button button--rounded button--medium">
                получить расчёт
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal micromodal-slide" id="quiz-thansk" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true">
      <div class="modal__wrap  modal__wrap--thanks">
        <button class="modal__close btn-reset" aria-label="Закрыть окно" data-micromodal-close>
          <svg class="modal__close-icon" data-micromodal-close>
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <div class="thanks">
          <div class="thanks__row">
            <img class="thanks__icon" src="/img/quiz/check.svg" alt="">
            <div class="thanks__content">
              <div class="thanks__title">Благодарим за ответы!</div>
              <div class="thanks__desc">Мы уже готовим для вас расчёт стоимости праздника
                и вот-вот вернёмся к вам с ответом</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>