<div class="section service-reviews">
  <div class="container">
    <div class="service-reviews__tabs">
      <div class="service-reviews__tab js-active">Все отзывы</div>
      <div class="service-reviews__tab">
        <img src="img/yandex.png" alt="">
        5.0
      </div>
      <div class="service-reviews__tab">
        <img src="img/google.svg" alt="">
        4.8
      </div>
      <div class="service-reviews__tab">
        <img src="img/2gis.png" alt="">
        4.9
      </div>

    </div>

    <div class="service-reviews__tab-content">
      <div class="service-reviews__tabs-desc"> 713 отзывов из 3 источников</div>
      <div class="service-reviews__wrapper">
        <div class="service-reviews__slider">
          <div class="swiper-wrapper">

            <div class="swiper-slide service-reviews-item">
              <div class="service-reviews-item__top">

                <img class="service-reviews-item__photo" src="img/avatar.jpg" alt="">
                <div class="service-reviews-item__author">
                  <div class="service-reviews-item__rating" data-value="5">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </div>
                  <div class="service-reviews-item__author-name">Имя Фамилия</div>
                  <div class="service-reviews-item__date">19 апр. 2025</div>
                </div>
              </div>
              <div class="service-reviews-item__bottom">
                <div class="service-reviews-item__desc">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus risus, finibus ornare
                  vestibulum
                  et, feugiat quis dui. Vivamus sit amet dolor et magna facilisis rhoncus. Curabitur maximus est...
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus risus, finibus ornare
                  vestibulum
                  et, feugiat quis dui. Vivamus sit amet dolor et magna facilisis rhoncus. Curabitur maximus est...

                </div>
                <div class="service-reviews-item__more">Ещё</div>
              </div>
              <a href="#" class="service-reviews-item__from">Отзыв из Яндекса</a>
            </div>
            <div class="swiper-slide service-reviews-item">
              <div class="service-reviews-item__top">

                <img class="service-reviews-item__photo" src="img/avatar.jpg" alt="">
                <div class="service-reviews-item__author">
                  <div class="service-reviews-item__rating" data-value="5">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </div>
                  <div class="service-reviews-item__author-name">Имя Фамилия</div>
                  <div class="service-reviews-item__date">19 апр. 2025</div>
                </div>
              </div>
              <div class="service-reviews-item__bottom">
                <div class="service-reviews-item__desc">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus risus, finibus ornare
                  vestibulum
                  et, feugiat quis dui. Vivamus sit amet dolor et magna facilisis rhoncus. Curabitur maximus est...
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus risus, finibus ornare
                  vestibulum
                  et, feugiat quis dui. Vivamus sit amet dolor et magna facilisis rhoncus. Curabitur maximus est...

                </div>
                <div class="service-reviews-item__more">Ещё</div>
              </div>
              <a href="#" class="service-reviews-item__from">Отзыв из Яндекса</a>
            </div>
            <div class="swiper-slide service-reviews-item">
              <div class="service-reviews-item__top">

                <img class="service-reviews-item__photo" src="img/avatar.jpg" alt="">
                <div class="service-reviews-item__author">
                  <div class="service-reviews-item__rating" data-value="5">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </div>
                  <div class="service-reviews-item__author-name">Имя Фамилия</div>
                  <div class="service-reviews-item__date">19 апр. 2025</div>
                </div>
              </div>
              <div class="service-reviews-item__bottom">
                <div class="service-reviews-item__desc">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus risus, finibus ornare
                  vestibulum
                  et, feugiat quis dui. Vivamus sit amet dolor et magna facilisis rhoncus. Curabitur maximus est...
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus risus, finibus ornare
                  vestibulum
                  et, feugiat quis dui. Vivamus sit amet dolor et magna facilisis rhoncus. Curabitur maximus est...

                </div>
                <div class="service-reviews-item__more">Ещё</div>
              </div>
              <a href="#" class="service-reviews-item__from">Отзыв из Яндекса</a>
            </div>
            <div class="swiper-slide service-reviews-item">
              <div class="service-reviews-item__top">

                <img class="service-reviews-item__photo" src="img/avatar.jpg" alt="">
                <div class="service-reviews-item__author">
                  <div class="service-reviews-item__rating" data-value="5">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </div>
                  <div class="service-reviews-item__author-name">Имя Фамилия</div>
                  <div class="service-reviews-item__date">19 апр. 2025</div>
                </div>
              </div>
              <div class="service-reviews-item__bottom">
                <div class="service-reviews-item__desc">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus risus, finibus ornare
                  vestibulum
                  et, feugiat quis dui. Vivamus sit amet dolor et magna facilisis rhoncus. Curabitur maximus est...
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus risus, finibus ornare
                  vestibulum
                  et, feugiat quis dui. Vivamus sit amet dolor et magna facilisis rhoncus. Curabitur maximus est...

                </div>
                <div class="service-reviews-item__more">Ещё</div>
              </div>
              <a href="#" class="service-reviews-item__from">Отзыв из Яндекса</a>
            </div>
            <div class="swiper-slide service-reviews-item">
              <div class="service-reviews-item__top">

                <img class="service-reviews-item__photo" src="img/avatar.jpg" alt="">
                <div class="service-reviews-item__author">
                  <div class="service-reviews-item__rating" data-value="5">
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </div>
                  <div class="service-reviews-item__author-name">Имя Фамилия</div>
                  <div class="service-reviews-item__date">19 апр. 2025</div>
                </div>
              </div>
              <div class="service-reviews-item__bottom">
                <div class="service-reviews-item__desc">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus risus, finibus ornare
                  vestibulum
                  et, feugiat quis dui. Vivamus sit amet dolor et magna facilisis rhoncus. Curabitur maximus est...
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus risus, finibus ornare
                  vestibulum
                  et, feugiat quis dui. Vivamus sit amet dolor et magna facilisis rhoncus. Curabitur maximus est...

                </div>
                <div class="service-reviews-item__more">Ещё</div>
              </div>
              <a href="#" class="service-reviews-item__from">Отзыв из Яндекса</a>
            </div>


          </div>
          <div class="swiper-arrow slider__arrow slider__arrow--lit slider__arrow--prev">
            <svg class="">
              <use xlink:href="img/sprite.svg#chevron-left"></use>
            </svg>
          </div>
          <div class="swiper-arrow slider__arrow slider__arrow--lit slider__arrow--next">
            <svg class="">
              <use xlink:href="img/sprite.svg#chevron-left"></use>
            </svg>
          </div>
          <div class="service-reviews__slider-pagination slider-pagination">

          </div>
        </div>
      </div>
    </div>

  </div>
</div>