<section class="tarifs section section--big">
  <div class="container">
    <div class="section-head section-head--big-margin">
      <h2 class="section-head__title"> наши тарифы</h2>
      <select class="select-default tarifs__select">
        <option value="проспект Космонавтов 108 д" selected>проспект Космонавтов 108 д</option>
        <option value="проспект Космонавтов 108 д">проспект Космонавтов 108 д</option>
        <option value="проспект Космонавтов 108 д">проспект Космонавтов 108 д</option>
        <option value="проспект Космонавтов 108 д">проспект Космонавтов 108 д</option>
        <option value="проспект Космонавтов 108 д">проспект Космонавтов 108 д</option>
      </select>
    </div>
    <div class="tarifs__tabs tabs">
      <ul class="tabs__list tabs__list--center">
        <li class="tabs__item tabs__item--active">vr-arena</li>
        <li class="tabs__item">vr-room</li>
        <li class="tabs__item">vr-extreme</li>
        <li class="tabs__item">racing zone</li>
        <li class="tabs__item">комбо-билеты</li>
        <li class="tabs__item">дни рождения</li>
        <li class="tabs__item">корпоративы</li>
        <li class="tabs__item">выпускные</li>
      </ul>
    </div>
    <div class="tarifs__grid">
      <div class="tarifs-item">
        <div class="tarifs-item__head">
          <div class="tarifs-item__left">
            <div class="tarifs-item__title">открытая игра</div>
            <div class="tarifs-item__type">оплата за игрока</div>
          </div>
          <div class="tarifs-item__info">
            <div class="tarifs-item__info-value">45 мин</div>
            <div class="tarifs-item__info-value">1-10 чел</div>
          </div>

        </div>
        <div class="tarifs-item__prices">

          <div class="tarifs-item__price-item">
            <div class="tarifs-item__price-pretitle">
              промо-игра
            </div>
            <div class="tarifs-item__value tarifs-item__value--green">
              800 <span>₽</span>
            </div>
          </div>
          <div class="tarifs-item__price-item">
            <div class="tarifs-item__price-pretitle">
              пн—чт
            </div>
            <div class="tarifs-item__value tarifs-item__value--blue">
              1000 <span>₽</span>
            </div>
          </div>
          <div class="tarifs-item__price-item">
            <div class="tarifs-item__price-pretitle">
              пт—вс
            </div>
            <div class="tarifs-item__value tarifs-item__value--red">
              1 500 <span>₽</span>
            </div>
          </div>
        </div>
        <div class="tarifs-item__footer">
          <button class="tarifs-item__button button button--lit button--rounded">подробнее</button>
          <button class="tarifs-item__button button button--lit button--blue">оставить заявку</button>
        </div>
        <picture class="tarifs-item__picture">
          <source srcset="img/tarifs/1.webp" type="image/webp">
          <img loading="lazy" src="img/tarifs.png" class="image" width="" height="" alt="">
        </picture>
      </div>
      <div class="tarifs-item">
        <div class="tarifs-item__head">
          <div class="tarifs-item__left">
            <div class="tarifs-item__title">открытая игра</div>
            <div class="tarifs-item__type">оплата за игрока</div>
          </div>
          <div class="tarifs-item__info">
            <div class="tarifs-item__info-value">45 мин</div>
            <div class="tarifs-item__info-value">1-10 чел</div>
          </div>

        </div>
        <div class="tarifs-item__prices">
          <div class="tarifs-item__price-item">
            <div class="tarifs-item__price-pretitle">
              пн—чт
            </div>
            <div class="tarifs-item__value tarifs-item__value--blue">
              12 000
              <span>₽</span>
            </div>
          </div>
          <div class="tarifs-item__price-item">
            <div class="tarifs-item__price-pretitle">
              пт—вс
            </div>
            <div class="tarifs-item__value tarifs-item__value--red">
              15 000 <span>₽</span>
            </div>
          </div>
        </div>
        <div class="tarifs-item__footer">
          <button class="tarifs-item__button button button--lit button--rounded">подробнее</button>
          <button class="tarifs-item__button button button--lit button--blue">оставить заявку</button>
        </div>
        <picture class="tarifs-item__picture">
          <source srcset="img/tarifs/2.webp" type="image/webp">
          <img loading="lazy" src="img/tarifs/2.png" class="image" width="" height="" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>