<div class="about-cst">
  <div class="about-item-cst">
    <img  alt="" src="/bitrix/templates/newwindows2/local/img/about/img1.png" >
    <div class="about-item-cst__right">
      <div class="about-item-cst__title">
        КАЧЕСТВО, ДОСТУПНОЕ ВСЕМ!
      </div>
      <p>
        <span >С 2006 года компания КИТ ПЛАСТ, предлагая только новейшие технологии, контроль
          каждой
          детали, безукоризненный стиль, работает для тех, кто высоко ценит безупречный уровень качества и
          комфорт.&nbsp;</span><span > </span><br>
        <span > </span><span >С момента основания цель компании —
          обеспечить
          высококачественными услугами своих заказчиков. Решение этой задачи осуществляется с помощью внедрения
          инноваций
          в производство, а так же посредством повышения надежности и безопасности выпускаемой продукции — пластиковых
          окон.&nbsp;</span>
      </p>
    </div>
  </div>
  <div class="about-item-cst">
    <img  alt="" src="/bitrix/templates/newwindows2/local/img/about/img2.png" >
    <div class="about-item-cst__right">
      <div class="about-item-cst__title">
        КОМАНДА ПРОФЕССИОНАЛОВ!
      </div>
      <p>
        <span >Производителем — компанией КИТ ПЛАСТ был обеспечен успешный старт коммерческой
          деятельности, который привел к созданию собственного производства, оснащенного современным оборудованием,
          позволяющим скрупулезно контролировать качество продукции на каждом этапе.&nbsp;</span><br>
        <span > </span><span > </span><span >С
          каждым годом все большее развитие получает обширная сеть дилеров и партнеров — контрагентов. Сегодня компания
          представляет собой высокопрофессиональную команду, где каждый сотрудник специалист экстра — класса.</span>
      </p>

    </div>
  </div>
  <div class="about-item-cst">
    <img  alt="" src="/bitrix/templates/newwindows2/local/img/about/img3.png" >
    <div class="about-item-cst__right">
      <div class="about-item-cst__title">
        Солидное преимущество:
        собственное производство
      </div>
      <p style="margin-bottom: 0cm; text-align: justify;">
        <span>Грамотная и точная отладка серийного производства сделала производимые компанией
          пластиковые окна доступными для любого дома. Темпы и возможности производства стремительно нарастают, в
          результате чего компания предлагает грамотные решения на любые случаи жизни: от стандартных окон до систем
          оснащения домов с пассивным отоплением.&nbsp;</span>
      </p>
      <p style="margin-bottom: 0cm; text-align: justify;">
        <span>Сегодня компания в состоянии удовлетворить любое требование архитекторов,
          дизайнеров или застройщиков, обеспечивая при этом безукоризненное качество.</span>
      </p>
      <br>
    </div>
  </div>
</div>
