<section class="video-reviews section--default">
  <div class="container">
    <div class="section-head">
      <h2 class="section-head__title">
        вы еще думаете?
      </h2>
      <p class="section-head__desc">Cмотрите отзывы тех, кто решился!</p>
    </div>
    <div class="video-reviews__wrap">
      <div class="video-reviews__slider">

        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" data-fancybox="video-reviews" class="video-reviews-item">
              <div class="video-reviews-item__name">
                Отзыв о детском дне рождения в WARPOINT
              </div>

              <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                <foreignObject x="-12.6095" y="-12.6095" width="113.219" height="113.219">
                  <div xmlns="http://www.w3.org/1999/xhtml"
                    style="backdrop-filter:blur(10.8px);clip-path:url(#bgblur_0_7050_32257_clip_path);height:100%;width:100%">
                  </div>
                </foreignObject>
                <g data-figma-bg-blur-radius="21.6095">
                  <circle cx="44" cy="44" r="35" fill="white" fill-opacity="0.2" />
                  <circle cx="44" cy="44" r="34.6624" stroke="white" stroke-opacity="0.2" stroke-width="0.675296" />
                </g>
                <path d="M54 43.5L39.75 54.3253L39.75 32.6747L54 43.5Z" fill="white" />
                <defs>
                  <clipPath id="bgblur_0_7050_32257_clip_path" transform="translate(12.6095 12.6095)">
                    <circle cx="44" cy="44" r="35" />
                  </clipPath>
                </defs>
              </svg>
              <picture class="video-reviews-item__image">
                <source srcset="img/noimage-grey.webp" type="image/webp">
                <img loading="lazy" src="img/noimage-grey.jpg" class="image" width="" height="" alt="">
              </picture>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>