<section class="video-section section section--big">
  <div class="container">
    <div class="section-head section-head--default-margin">
      <h2 class="section-head__title">
        ЭКСКУРСИЯ ПО НАШИМ VR-ПАРКАМ
      </h2>
    </div>
    <a href="" class="video-section__link">
      <div class="video-section__play-button-wrap">
        <div class="video-section__play-button">
          <svg width="111" height="110" viewBox="0 0 111 110" fill="none" xmlns="http://www.w3.org/2000/svg">
            <foreignObject x="-14.8437" y="-15.7177" width="141.129" height="141.129">
              <div xmlns="http://www.w3.org/1999/xhtml"
                style="backdrop-filter:blur(13.47px);clip-path:url(#bgblur_0_7050_25208_clip_path);height:100%;width:100%">
              </div>
            </foreignObject>
            <g data-figma-bg-blur-radius="26.9365">
              <circle cx="55.7207" cy="54.8467" r="43.6279" fill="white" fill-opacity="0.2" />
              <circle cx="55.7207" cy="54.8467" r="43.207" stroke="white" stroke-opacity="0.2"
                stroke-width="0.841764" />
            </g>
            <path d="M68.1855 54.2235L50.4228 67.7174L50.4228 40.7296L68.1855 54.2235Z" fill="white" />
            <defs>
              <clipPath id="bgblur_0_7050_25208_clip_path" transform="translate(14.8437 15.7177)">
                <circle cx="55.7207" cy="54.8467" r="43.6279" />
              </clipPath>
            </defs>
          </svg>

        </div>
        <div class="video-section__play-text">
          смотреть видео
        </div>
      </div>
      <picture class="video-section__poster">
        <source srcset="img/video.webp" type="image/webp">
        <img loading="lazy" src="img/video.jpg" class="image" width="" height="" alt="">
      </picture>
    </a>
  </div>
</section>